<a id="0.1"></a>
<h1 style="background-color:#38ACEC;font-family:newtimeroman;font-size:350%;text-align:center;border-radius: 15px 50px;">Inhaltsverzeichnis</h1>

* [1. Einführung](#1)
    * [1.1 Datenquelle](#1.1)
    * [1.2 Anforderungen](#1.2)
    * [1.3 Datensatz und Datenwörterbuch](#1.3)
    * [1.4 Einlesen der Daten](#1.4)
* [2. Exploratory Data Analysis](#2)
    * [2.2 Datenüberblick: Einheiten, Missing-Rate, Anzahl eindeutiger Werte](#2.2)
    * [2.3 Deskriptive statistik: Min/Max/Median/Mean, Ausreißer](#2.3)
    * [2.4 Drop-Kandidaten Analyse](#2.4)
    * [2.5 Numerische Spalten](#2.5)
    * [2.6 Kategoriale Spalten](#2.6)
    * [2.7 Boolesche Spalten](#2.7)
    * [2.8 Datums-Spalten](#2.8)  
* [3. Bereinigen Der Daten](#3)
    * [3.1 Fehlende Werte füllen](#3.1)
    * [3.2 Drop-Kandidaten löschen](#3.2)
* [4. Daten zusammenfassen und speichern](#4)
    * [4.1 Daten zusammenfassen](#4.1)
    * [4.2 Daten speichern](#4.2)

<a class="anchor" id="1.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.1 Datenquelle</h3>

**Inside Airbnb** ist ein gemeinwohlorientiertes Projekt. Es sammelt Daten zu Airbnb zur Analyse der Wirkung auf *Wohngebiete*.
*[_About – Inside Airbnb_](https://insideairbnb.com/about/)*

Daten Details:
- Die Daten nutzen öffentlich zugängliche Informationen, die von der Airbnb-Website zusammengetragen wurden, einschließlich des Verfügbarkeitskalenders
für 365 Tage in der Zukunft sowie der Bewertungen zu jedem Inserat.
- Es werden keine „privaten“ Informationen verwendet. Namen, Fotos, Inserate und Bewertungsdetails werden sämtlich öffentlich auf der Airbnb-Website
angezeigt.
- Standortinformationen zu Inseraten werden von Airbnb anonymisiert. In der Praxis bedeutet das, dass der in der Karte bzw. in den Daten
angegebene Standort eines Inserats bis zu 150 Meter vom tatsächlichen Adresspunkt verschoben ist.
- Die hier präsentierten Daten sind eine Momentaufnahme der zu einem bestimmten Zeitpunkt verfügbaren Inserate.
Der Airbnb-Kalender für ein Inserat unterscheidet nicht zwischen einer gebuchten Nacht und einer aus anderen Gründen nicht verfügbaren Nacht; daher werden solche Nächte als „nicht verfügbar“ gezählt. Das führt dazu, dass die Kennzahl zur Verfügbarkeit tendenziell unterschätzt wird, weil beliebte Inserate eher „gebucht“ sind, als dass sie vom Host „gesperrt“ werden.
Einige Hosts pflegen ihren Kalender möglicherweise nicht aktuell oder halten ihn sehr weitgehend offen, obwohl sie die gesamte Wohnung bzw. das gesamte Haus selbst bewohnen.
- Die Viertelnamen für jedes Inserat werden ermittelt, indem die geografischen Koordinaten des Inserats mit der städtischen Definition
der Viertel abgeglichen werden. Die von Airbnb vergebenen Viertelnamen werden aufgrund ihrer Ungenauigkeiten nicht verwendet.
    
[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="1.2"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.2 Anforderungen</h3>


**Liste der erforderlichen Bibliotheken:**
- *`pandas`* — Daten laden, aufbereiten, zusammenfassen
- *`numpy`* — Numerische Daten aufbereiten
- *`re`* — Funktionen zur Arbeit mit regulären Ausdrücken


[**Inhaltsverzeichnis**](#0.1)

In [1]:
import re

import numpy as np
import pandas as pd

<a class="anchor" id="1.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.3 Datensatz & Datenwörterbuch</h3>


- **Stadt:** New York City, New York, USA  
- **Datei:** `listings_big.csv.gz` — *Detailed Listings*  
- **Daten-Seite:** *[_Get the Data_](https://insideairbnb.com/get-the-data/)*  
- **Datenwörterbuch:** *[Inside Airbnb Data Dictionary (Google Sheet)](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit?gid=1322284596#gid=1322284596)*

[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="2.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.1 Einlesen der Daten</h3>

                           
[**Inhaltsverzeichnis**](#0.1)

In [2]:
file = "data/12/NewYorkCity/listings_big.csv" 
# file_reviewsb = "data/12/NewYorkCity/reviews_big.csv"

df_orig = pd.read_csv(file, low_memory=False)
# df_reviewsb = pd.read_csv(file_reviewsb, low_memory=False)

# Anzahl Zeilen und Spalten
df_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36322 entries, 0 to 36321
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36322 non-null  int64
 1   listing_url                                   36322 non-null  object
 2   scrape_id                                     36322 non-null  int64
 3   last_scraped                                  36322 non-null  object
 4   source                                        36322 non-null  object
 5   name                                          36320 non-null  object
 6   description                                   35374 non-null  object
 7   neighborhood_overview                         19084 non-null  object
 8   picture_url                                   36322 non-null  object
 9   host_id                                       36322 non-null  int64
 10  host_url                                      36322 non-null  object
 11  host_name                                     36307 non-null  object
 12  host_since                                    36307 non-null  object
 13  host_location                                 28913 non-null  object
 14  host_about                                    20956 non-null  object
 15  host_response_time                            21550 non-null  object
 16  host_response_rate                            21550 non-null  object
 17  host_acceptance_rate                          21720 non-null  object
 18  host_is_superhost                             35830 non-null  object
 19  host_thumbnail_url                            36307 non-null  object
 20  host_picture_url                              36307 non-null  object
 21  host_neighbourhood                            29034 non-null  object
 22  host_listings_count                           36307 non-null  float64
 23  host_total_listings_count                     36307 non-null  float64
 24  host_verifications                            36307 non-null  object
 25  host_has_profile_pic                          36307 non-null  object
 26  host_identity_verified                        36307 non-null  object
 27  neighbourhood                                 19085 non-null  object
 28  neighbourhood_cleansed                        36322 non-null  object
 29  neighbourhood_group_cleansed                  36322 non-null  object
 30  latitude                                      36322 non-null  float64
 31  longitude                                     36322 non-null  float64
 32  property_type                                 36322 non-null  object
 33  room_type                                     36322 non-null  object
 34  accommodates                                  36322 non-null  int64
 35  bathrooms                                     21682 non-null  float64
 36  bathrooms_text                                36286 non-null  object
 37  bedrooms                                      30274 non-null  float64
 38  beds                                          21620 non-null  float64
 39  amenities                                     36322 non-null  object
 40  price                                         21459 non-null  object
 41  minimum_nights                                36322 non-null  int64
 42  maximum_nights                                36322 non-null  int64
 43  minimum_minimum_nights                        36322 non-null  int64
 44  maximum_minimum_nights                        36322 non-null  int64
 45  minimum_maximum_nights                        36322 non-null  int64
 46  maximum_maximum_nights                        36322 non-null  int64
 47  minimum_nights_avg_ntm                        36322 non-null  float64
 48  maximum_nights_avg_ntm                        36322 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              30705 non-null  object
 51  availability_30                               36322 non-null  int64
 52  availability_60                               36322 non-null  int64
 53  availability_90                               36322 non-null  int64
 54  availability_365                              36322 non-null  int64
 55  calendar_last_scraped                         36322 non-null  object
 56  number_of_reviews                             36322 non-null  int64
 57  number_of_reviews_ltm                         36322 non-null  int64
 58  number_of_reviews_l30d                        36322 non-null  int64
 59  availability_eoy                              36322 non-null  int64
 60  number_of_reviews_ly                          36322 non-null  int64
 61  estimated_occupancy_l365d                     36322 non-null  int64
 62  estimated_revenue_l365d                       21459 non-null  float64
 63  first_review                                  25171 non-null  object
 64  last_review                                   25171 non-null  object
 65  review_scores_rating                          25171 non-null  float64
 66  review_scores_accuracy                        25161 non-null  float64
 67  review_scores_cleanliness                     25170 non-null  float64
 68  review_scores_checkin                         25157 non-null  float64
 69  review_scores_communication                   25165 non-null  float64
 70  review_scores_location                        25154 non-null  float64
 71  review_scores_value                           25155 non-null  float64
 72  license                                       5329 non-null   object
 73  instant_bookable                              36322 non-null  object
 74  calculated_host_listings_count                36322 non-null  int64
 75  calculated_host_listings_count_entire_homes   36322 non-null  int64
 76  calculated_host_listings_count_private_rooms  36322 non-null  int64
 77  calculated_host_listings_count_shared_rooms   36322 non-null  int64
 78  reviews_per_month                             25171 non-null  float64
dtypes: float64(19), int64(24), object(36)
memory usage: 21.9+ MB

<a class="anchor" id="2.2"></a>
<h3 style="background-color:blue;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2. Exploratory Data Analysis</h3>

In [ ]:
# Anzahl Numerische Spalten
df_orig.select_dtypes(include="number").shape[1]

In [ ]:
# Anzahl Kategoriale Spalten
df_orig.select_dtypes(include=["object"]).shape[1]

<a class="anchor" id="2.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.1 Datenüberblick: Einheiten, Missing-Rate, Anzahl eindeutiger Werte</h3>

                           
[**Inhaltsverzeichnis**](#0.1)

In [ ]:
print("Anzahl Zeilen, Anzahl Spalten: ", df_orig.shape)

In [ ]:
if len(df_orig["id"].unique()) == df_orig.shape[0]:
    print("Spalte \"id\" ist unique Idendifikator")

| **Abschnitt**                                         | **Beschreibung**                                                | **Spalten (Felder)**                                                                                                                                                                                                                                                                                                                                                                         | **Einheiten / Hinweise (laut Data Dictionary)**                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     |
| ----------------------------------------------------- | --------------------------------------------------------------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| **Zeitebene**                                         | Momentaufnahme (Snapshot) des Bestands zum Erfassungszeitpunkt. | `last_scraped`                                                                                                                                                                                                                                                                                                                                                                               | **Datetime (UTC)** – Zeitpunkt, an dem das Listing „gescraped“ wurde.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| **Analyse-Einheiten (Granularität)**                  | Ebenen, auf denen ausgewertet/aggregiert wird.                  | Listing: `id` • Host: `host_id` • Nachbarschaft: `neighbourhood_cleansed`, `neighbourhood_group_cleansed` • Zeit: `host_since`, `first_review`, `last_review`                                                                                                                                                                                                                                | `id` (**integer**) = eindeutige Listing-ID • `host_id` (**integer**) = Host-ID • `host_since` (**date**) = Konto-Erstellungsdatum • `first_review`/`last_review` (**date**) = erste/letzte Rezension.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
| **Wichtige Maßeinheiten (Markt/Qualität)**            | Zentrale Messgrößen je Listing.                                 | **Preis:** `price` • **Verfügbarkeit:** `availability_30`, `availability_60`, `availability_90`, `availability_365`, `has_availability` • **Bewertungen:** `number_of_reviews`, `reviews_per_month`, `review_scores_*` • **Kapazität/Ausstattung:** `accommodates`, `bedrooms`, `beds`, `bathrooms`, `bathrooms_text` • **Buchung:** `instant_bookable`                                      | `price` (**currency**) = täglicher Preis in **lokaler Währung**; **\$** im Export ist ein technisches Artefakt (ignorieren). • `availability_x` (**integer**) = verfügbare Nächte in den nächsten **x** Tagen; „nicht verfügbar“ kann **gebucht** oder **geblockt** bedeuten. • `has_availability` (**boolean**) = **t/f**. • `number_of_reviews` (**integer**). • `reviews_per_month` = Durchschnitt **Rezensionen/Monat** über die Lebenszeit (vgl. Pseudocode im Dictionary). • `review_scores_*` (numerisch, Airbnb-Scores). • `accommodates` (**integer**) = Gäste. • `bathrooms` (**numeric**), `bathrooms_text` (**string**, textuelle Angabe, z. B. „1.5 shared baths“). • `instant_bookable` (**boolean**) = **t/f**, ob automatische Buchung möglich ist. |
| **Listing-Ebene – Kernmetriken**                      | Attribute pro Inserat.                                          | `property_type`, `room_type`, `accommodates`, `bedrooms`, `beds`, `bathrooms`/`bathrooms_text`, `price`, `has_availability`, `availability_30/60/90/365`, `number_of_reviews`, `reviews_per_month`, `review_scores_*`, `instant_bookable`, `host_is_superhost`, `host_listings_count`, `host_since`, Lage: `neighbourhood_cleansed`, `neighbourhood_group_cleansed`, `latitude`, `longitude` | Typen laut Dictionary: `property_type`, `room_type`, `neighbourhood_*` (**text**); `latitude`/`longitude` (**numeric**); `host_is_superhost` (**boolean**, **t/f**); `host_listings_count` (**integer**).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
| **Abgeleitete Kennzahlen (nützlich, nicht original)** | Aus Rohfeldern berechnet (für Analysen).                        | `occupied_nights_365`, `revpar_proxy`, `price_per_guest`, `host_tenure_days`                                                                                                                                                                                                                                                                                                                 | **Belegte Nächte (Proxy):** `occupied_nights_365 = 365 − availability_365` (Nächte/Jahr) • **RevPAR (Proxy):** `estimated_revenue_l365d / 365` • **Preis/Gast:** `price / accommodates` • **Host-Tenure (Tage):** `last_scraped − host_since`.                                                                                                                                                                                                                                                                                                                                                                                                                                                       |

In [3]:
# Daten Verständnis

# No description in the data Doctionary:
# host_is_superhost 
# host_response_time
# host_response_rate

# Drop Spälte mit reine URLs, Bilder, Host Name, Host-ID, Host Location, Bescreibung

# Spalte rehalten Info über lätzte Scrape
# calculated_host_listings_count 
# calculated_host_listings_count_entire_homes 
# calculated_host_listings_count_private_rooms 
# calculated_host_listings_count_shared_rooms 

# Spalte "host_name" - Name of the host. Usually just the first name(s).

# Spalten "host_listings_count", "host_total_listings_count": The number of listings the host has (per Airbnb unknown calculations)

# Spalte brauche für Analyse nicht:
drop_columns = ["listing_url", 
                "scrape_id", 
                "last_scraped", 
                "source",
                "description",
                "neighborhood_overview", 
                "picture_url",
                "host_url",
                "host_name",
                "host_about",
                "host_response_time",
                "host_response_rate",
                "host_is_superhost",
                "host_thumbnail_url",
                "host_picture_url",
                "host_listings_count",
                "host_total_listings_count",
                "calendar_last_scraped",
                "calculated_host_listings_count",
                "calculated_host_listings_count_entire_homes",
                "calculated_host_listings_count_private_rooms",
                "calculated_host_listings_count_shared_rooms"
                ]

df = df_orig.drop(columns=drop_columns, axis=1, errors="ignore")

In [4]:
# Zusätchlive Funktionen

# Missing Values
missing = df.isnull().sum().to_frame()

def missing_values(df):
    missing["Missing_values"] = df.isnull().sum().to_frame()
    missing["Total_perc"] = (missing["Missing_values"] / len(df)) * 100
    return missing

In [5]:
missing_values(df)[missing["Total_perc"] > 0].Total_perc

name                             0.005506
host_since                       0.041297
host_location                   20.398106
host_acceptance_rate            40.201531
host_neighbourhood              20.064974
host_verifications               0.041297
host_has_profile_pic             0.041297
host_identity_verified           0.041297
neighbourhood                   47.456087
bathrooms                       40.306151
bathrooms_text                   0.099113
bedrooms                        16.651065
beds                            40.476846
price                           40.920104
calendar_updated               100.000000
has_availability                15.464457
estimated_revenue_l365d         40.920104
first_review                    30.700402
last_review                     30.700402
review_scores_rating            30.700402
review_scores_accuracy          30.727933
review_scores_cleanliness       30.703155
review_scores_checkin           30.738946
review_scores_communication     30.716921
review_scores_location          30.747206
review_scores_value             30.744452
license                         85.328451
reviews_per_month               30.700402
Name: Total_perc, dtype: float64

In [6]:
# Spalte: "calendar_updated" Missing-Rate 100%
df["calendar_updated"].unique()

# Spalte "neighbourhood" has nur zwei Werte: ['Neighborhood highlights', nan]
df["neighbourhood"].unique()

# Spalte "host_id" - Airbnb's unique identifier for the host/user

array(['Neighborhood highlights', nan], dtype=object)

In [7]:
drop_columns = ["host_id",
                "neighbourhood",
                "calendar_updated",
                ]

df = df.drop(columns=drop_columns, axis=1, errors="ignore")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36322 entries, 0 to 36321
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            36322 non-null  int64
 1   name                          36320 non-null  object
 2   host_since                    36307 non-null  object
 3   host_location                 28913 non-null  object
 4   host_acceptance_rate          21720 non-null  object
 5   host_neighbourhood            29034 non-null  object
 6   host_verifications            36307 non-null  object
 7   host_has_profile_pic          36307 non-null  object
 8   host_identity_verified        36307 non-null  object
 9   neighbourhood_cleansed        36322 non-null  object
 10  neighbourhood_group_cleansed  36322 non-null  object
 11  latitude                      36322 non-null  float64
 12  longitude                     36322 non-null  float64
 13  property_type                 36322 non-null  object
 14  room_type                     36322 non-null  object
 15  accommodates                  36322 non-null  int64
 16  bathrooms                     21682 non-null  float64
 17  bathrooms_text                36286 non-null  object
 18  bedrooms                      30274 non-null  float64
 19  beds                          21620 non-null  float64
 20  amenities                     36322 non-null  object
 21  price                         21459 non-null  object
 22  minimum_nights                36322 non-null  int64
 23  maximum_nights                36322 non-null  int64
 24  minimum_minimum_nights        36322 non-null  int64
 25  maximum_minimum_nights        36322 non-null  int64
 26  minimum_maximum_nights        36322 non-null  int64
 27  maximum_maximum_nights        36322 non-null  int64
 28  minimum_nights_avg_ntm        36322 non-null  float64
 29  maximum_nights_avg_ntm        36322 non-null  float64
 30  has_availability              30705 non-null  object
 31  availability_30               36322 non-null  int64
 32  availability_60               36322 non-null  int64
 33  availability_90               36322 non-null  int64
 34  availability_365              36322 non-null  int64
 35  number_of_reviews             36322 non-null  int64
 36  number_of_reviews_ltm         36322 non-null  int64
 37  number_of_reviews_l30d        36322 non-null  int64
 38  availability_eoy              36322 non-null  int64
 39  number_of_reviews_ly          36322 non-null  int64
 40  estimated_occupancy_l365d     36322 non-null  int64
 41  estimated_revenue_l365d       21459 non-null  float64
 42  first_review                  25171 non-null  object
 43  last_review                   25171 non-null  object
 44  review_scores_rating          25171 non-null  float64
 45  review_scores_accuracy        25161 non-null  float64
 46  review_scores_cleanliness     25170 non-null  float64
 47  review_scores_checkin         25157 non-null  float64
 48  review_scores_communication   25165 non-null  float64
 49  review_scores_location        25154 non-null  float64
 50  review_scores_value           25155 non-null  float64
 51  license                       5329 non-null   object
 52  instant_bookable              36322 non-null  object
 53  reviews_per_month             25171 non-null  float64
dtypes: float64(16), int64(18), object(20)
memory usage: 15.0+ MB
None

In [8]:
# Spalte "license" - Werte [nan, 'Exempt', "OSE-*"]
# Spalte "license" nicht droppen
[i for i in df_orig["license"].unique() if str(i)[:4].upper() != "OSE-"]

[nan, 'Exempt']

In [ ]:
# ??? Investigate reviews:
# df_reviewsb.info()
# df_reviewsb["listing_id"].unique()
# df_reviewsb["id"].unique()

# Check if df_reviewsb["listing_id"] is a part of the df["id"]

# import numpy as np
# from numpy.lib.stride_tricks import sliding_window_view

# def contains_subarray_1d(big: np.ndarray, small: np.ndarray):
#     big = np.asarray(big).ravel()
#     small = np.asarray(small).ravel()
#     if small.size == 0 or small.size > big.size:
#         return None  # not found
#     win = sliding_window_view(big, small.size)            # shape: (N-m+1, m)
#     hits = np.where(np.all(win == small, axis=1))[0]
#     return int(hits[0]) if hits.size else None            # start index or None


# idx = contains_subarray_1d(df["id"], df_reviewsb["listing_id"])
# idx

<a class="anchor" id="2.2"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.2 Deskriptive statistik: Min/Max/Median/Mean, Ausreißer</h3>

[**Inhaltsverzeichnis**](#0.1)

In [22]:
# ???
def candidates_for_value_counts(df, max_uniques=30, max_ratio=0.05):
    """
    Pick columns where value_counts(dropna=False) makes sense:
    - Categorical / low-cardinality
    - Discrete numeric with small value range
    Excludes obvious non-candidates (IDs, names).
    """
    cands = set()

    # categorical-like
    for c in df.select_dtypes(include=["object","category","boolean"]):
        if df[c].nunique(dropna=True) <= max_uniques:
            cands.add(c)

    # discrete numeric
    for c in df.select_dtypes(include=["integer","float"]):
        nunq = df[c].nunique(dropna=True)
        if nunq and (nunq <= max_uniques or nunq/len(df) <= max_ratio):
            cands.add(c)

    # exclude obvious non-candidates
    drop_like = {"id","host_id","name","host_name","license"}
    return sorted([c for c in cands if c in df.columns and c not in drop_like])

cols = candidates_for_value_counts(df)

def chunk_list(lst, size=10):
    return [lst[i:i+size] for i in range(0, len(lst), size)]

groups = chunk_list(cols, size=10)   # ≈10 columns per output cell

print(f"Total candidate columns: {len(cols)}")
for i, g in enumerate(groups):
    print(f"Group {i}: {len(g)} cols -> {g}")

Total candidate columns: 38
Group 0: 10 cols -> ['accommodates', 'availability_30', 'availability_365', 'availability_60', 'availability_90', 'availability_eoy', 'bathrooms', 'bedrooms', 'beds', 'estimated_occupancy_l365d']
Group 1: 10 cols -> ['has_availability', 'host_has_profile_pic', 'host_identity_verified', 'host_verifications', 'instant_bookable', 'maximum_maximum_nights', 'maximum_minimum_nights', 'maximum_nights', 'maximum_nights_avg_ntm', 'minimum_maximum_nights']
Group 2: 10 cols -> ['minimum_minimum_nights', 'minimum_nights', 'minimum_nights_avg_ntm', 'neighbourhood_group_cleansed', 'number_of_reviews', 'number_of_reviews_l30d', 'number_of_reviews_ltm', 'number_of_reviews_ly', 'price', 'review_scores_accuracy']
Group 3: 8 cols -> ['review_scores_checkin', 'review_scores_cleanliness', 'review_scores_communication', 'review_scores_location', 'review_scores_rating', 'review_scores_value', 'reviews_per_month', 'room_type']

In [23]:
# ???
def show_group(i: int, top_n: int = 10):
    """Print value_counts for group i, truncated to top_n per column."""
    if i < 0 or i >= len(groups):
        print(f"Group index {i} out of range (0..{len(groups)-1})")
        return
    for c in groups[i]:
        vc = df[c].value_counts(dropna=False)
        print(f"\n=== {c} (unique={vc.shape[0]}) ===")
        print(vc.head(top_n))

In [25]:
show_group(0, top_n=4)

=== accommodates (unique=16) ===
accommodates
2    17201
1     6527
4     5350
3     3041
Name: count, dtype: int64

=== availability_30 (unique=31) ===
availability_30
0     19890
30     3522
29     1845
28     1027
Name: count, dtype: int64

=== availability_365 (unique=366) ===
availability_365
0      12381
365     2501
364      841
363      642
Name: count, dtype: int64

=== availability_60 (unique=61) ===
availability_60
0     16067
60     3397
59     1778
58      974
Name: count, dtype: int64

=== availability_90 (unique=91) ===
availability_90
0     14204
90     3344
89     1753
88      945
Name: count, dtype: int64

=== availability_eoy (unique=199) ===
availability_eoy
0      13102
198     2932
197     1339
196      732
Name: count, dtype: int64

=== bathrooms (unique=20) ===
bathrooms
1.0    17044
NaN    14640
2.0     2496
1.5      935
Name: count, dtype: int64

=== bedrooms (unique=15) ===
bedrooms
1.0    19451
NaN     6048
2.0     5697
0.0     2041
Name: count, dtype: int64

=== beds (unique=19) ===
beds
NaN    14702
1.0    12807
2.0     4946
3.0     1806
Name: count, dtype: int64

=== estimated_occupancy_l365d (unique=57) ===
estimated_occupancy_l365d
0      25153
255     3203
60      2711
120     1670
Name: count, dtype: int64

In [ ]:
#Check for the missing values

df.isna().any()

In [ ]:
#Calculating the percentage of missing values

missing_values(df_orig)[missing["Total_perc"] > 0].Total_perc

In [ ]:
# Mean of the Columns "accommodates"

df["accommodates"].mean().round(2)

In [ ]:
# Mean of the Columns "minimum_nights", "maximum_nights"

df["minimum_nights"].mean().round(2), df["maximum_nights"].mean().round(2)

In [ ]:
# Max value per column

df.max(numeric_only=True)

In [ ]:
# Min value per column

df.min(numeric_only=True)

In [ ]:
# Median
df.median(numeric_only=True)

In [ ]:
# Standard Deviation
df.std(numeric_only=True)

In [ ]:
# Variance
df.var(numeric_only=True)

In [ ]:
#Lower Quartile / First Quartile
df.quantile(0.25, numeric_only=True)

In [ ]:
#Second Quartile / Median
df.quantile(0.50, numeric_only=True)

In [ ]:
#IQR (Interquartile Range)
df.quantile(0.75, numeric_only=True) - df.quantile(0.25, numeric_only=True)

In [ ]:
# Generate Descriptive statistic

df.describe(include=['int64', 'float64'])

In [ ]:
df.describe(include=['object', 'category'])

In [ ]:
# Return unbiased kurtosis using Fisher’s definition of kurtosis

df.kurt(numeric_only=True)

In [ ]:
#Correlation

df.corr(numeric_only=True)

In [ ]:
#Covariance

df.cov(numeric_only=True)

In [ ]:
# ??? statistics modul
# pip install statistics
# import statistics as st

# Hormonic Mean
#st.harmonic_mean(df['price'])

# low median of the data with EVEN length
#st.median_low(df['price'])

# Mode of Dataset
#st.mode(unv_df[''])

#Sample Standard Deviation
#st.stdev(unv_df['price'])

#Population Standard Deviation
#st.pstdev(unv_df['price'])

<a class="anchor" id="2.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.3 Fehlende Werte und Duplikate</h3>

[**Inhaltsverzeichnis**](#0.1)

In [ ]:
# Anzahl unterschiedlicher Zeilen: 36322
# Keine Duplikate

df.drop_duplicates().shape[0]

TODOs:
- all column containing Datum convert to datetime type
- all columns containing "boolean" 't' and 'f' values convert to True/False boolean type
- check type for numeruc columns and convert object type to flot/int ("price" col)
- all columns object type containing strings convert to type string
- investigate columns with a lot of missing values to decide which we can drop

host_name                       0.041297 \
host_since                      0.041297 \
host_location                  20.398106 ==> drop \
host_response_time             40.669567 \ 
host_response_rate             40.669567\
host_acceptance_rate           40.201531\
host_is_superhost               1.354551\
host_neighbourhood             20.064974\
host_listings_count             0.041297\
host_total_listings_count       0.041297\
host_verifications              0.041297\
host_has_profile_pic            0.041297\
host_identity_verified          0.041297\
neighbourhood                  47.456087 ==> drop\
bathrooms                       0.068829\
bathrooms_text                  0.099113 ==> drop\
bedrooms                       16.651065\
beds                           40.476846 ==> drop\
price                          40.920104 currency '$' \
has_availability               15.464457\
estimated_revenue_l365d        40.920104\
first_review                   30.700402\
last_review                    30.700402\
review_scores_rating           30.700402\
review_scores_accuracy         30.727933\
review_scores_cleanliness      30.703155\
review_scores_checkin          30.738946\
review_scores_communication    30.716921\
review_scores_location         30.747206\
review_scores_value            30.744452\
reviews_per_month              30.700402


- drop the column "bathrooms_text": columns "bathrooms" and "bathrooms_text" contain similar info, 
so we can fill missing values in "bathrooms" with the corresponding values from "bathrooms_text" (it has 0.1% missing values)
- fill missing values in columns with numeric type which we do not want to drop with mean value   
- fill missing values in columns with dtype 'object' which we do not want to drop with "unknown" value
- do not drop columns:
- drop columns:
- convert columns with dtype 'object' to the type 'category'
- save the final dataframe to file


STATISTIC:
- Room type: Airbnb hosts can list entire homes/apartments, private, shared rooms, and more recently hotel rooms.
   room_type:  ['Private room', 'Entire home/apt', 'Hotel room', 'Shared room']

In [9]:
# 1) Datums-Typen bearbeiten
if "host_since" in df.columns:
    df["host_since"] = pd.to_datetime(df["host_since"], errors="coerce")

In [10]:
# 1) Bool-Typen bearbeiten
def to_bool(x):
    if pd.isna(x):
        return pd.NA
    s = str(x).strip().lower()
    if s == "t" or x == True: return True
    if s == "f" or x == False:  return False
    return pd.NA

col_bool = ["host_identity_verified","instant_bookable","has_availability"]
    
for c in ["host_identity_verified", "instant_bookable","has_availability"]:
    if c in df.columns:
        df[c] = df[c].map(to_bool).astype("boolean")

In [11]:
# Investigate Room Type
df["room_type"].unique()

array(['Private room', 'Entire home/apt', 'Hotel room', 'Shared room'],
      dtype=object)

In [12]:
# Investigate
df["bathrooms"].unique()
# array([ 1. ,  1.5,  nan,  2. ,  2.5,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
#        10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

array([ 1. ,  1.5,  nan,  2. ,  2.5,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
       10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

In [13]:
# Investigate
df["bathrooms_text"].unique()

array(['1 private bath', '1 bath', '1.5 baths', '1 shared bath',
       '1.5 shared baths', '2 baths', '2.5 baths', nan, '3 baths',
       '5 baths', '0 shared baths', '2 shared baths', 'Shared half-bath',
       '3.5 baths', '2.5 shared baths', 'Half-bath', 'Private half-bath',
       '0 baths', '15.5 baths', '3 shared baths', '10.5 baths', '4 baths',
       '4.5 baths', '3.5 shared baths', '4 shared baths',
       '4.5 shared baths', '5.5 baths', '6 baths', '7 baths',
       '6 shared baths', '7.5 baths', '9 baths', '5 shared baths',
       '6.5 baths'], dtype=object)

In [14]:
# Investigate: "bathrooms", "bathrooms_text"
df_bathrooms_null_bathrooms_text = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

df_bathrooms_null_bathrooms_text.head(10)
# df_bathrooms_null_bathrooms_text.index.values

    bathrooms bathrooms_text
4         NaN  1 shared bath
6         NaN  1 shared bath
9         NaN         1 bath
10        NaN         1 bath
12        NaN      1.5 baths
13        NaN         1 bath
15        NaN         1 bath
18        NaN        2 baths
22        NaN      2.5 baths
24        NaN  1 shared bath

In [15]:
# Definition
# Investigate "price" column

def find_currency(df):
    currency = []
    for i in df["price"].unique():
        currency.append(str(i)[0])
    currency.remove('n')
    return set(currency)

find_currency(df) # {'$'}

{'$'}

In [16]:
# df[df["price"].isna() == True].loc[24]
df["price"].loc[20:26]

20    $162.00
21    $173.00
22        NaN
23    $310.00
24        NaN
25        NaN
26    $175.00
Name: price, dtype: object

In [17]:
# Fill missing price
miss = df["price"].isna()

print("Missing-Rate gesamt:", miss.mean().round(3))

# Missing-Rate nach Segmenten
for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Missing-Rate:")
        print(df.groupby(col)["price"].apply(lambda s: s.isna().mean()).sort_values(ascending=False).head(10))

# Vergleich zentraler Maße (nur grob)
print("\naccommodates Median (price vorhanden vs. fehlend):",
      df.loc[~miss,"accommodates"].median(), "vs", df.loc[miss,"accommodates"].median())

Missing-Rate gesamt: 0.409

room_type – Missing-Rate:
room_type
Private room       0.460602
Entire home/apt    0.367790
Hotel room         0.358209
Shared room        0.320388
Name: price, dtype: float64

neighbourhood_group_cleansed – Missing-Rate:
neighbourhood_group_cleansed
Brooklyn         0.449921
Manhattan        0.406567
Queens           0.372736
Bronx            0.239094
Staten Island    0.128767
Name: price, dtype: float64

accommodates – Missing-Rate:
accommodates
3     0.451167
1     0.438180
2     0.426719
4     0.387290
12    0.352273
5     0.336921
15    0.333333
7     0.326087
6     0.286585
14    0.238095
Name: price, dtype: float64

accommodates Median (price vorhanden vs. fehlend): 2.0 vs 2.0

In [18]:
# Vergleich der Verteilungen: vorhandener Preis vs. fehlender Preis
miss = df["price"].isna()

for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Anteil je Kategorie (price vorhanden vs. fehlend)")
        print(pd.concat({
            "present": df.loc[~miss, col].value_counts(normalize=True),
            "missing": df.loc[ miss, col].value_counts(normalize=True)
        }, axis=1).fillna(0).round(3))

room_type – Anteil je Kategorie (price vorhanden vs. fehlend)
                 present  missing
room_type
Entire home/apt    0.573    0.481
Private room       0.411    0.507
Hotel room         0.010    0.008
Shared room        0.007    0.004

neighbourhood_group_cleansed – Anteil je Kategorie (price vorhanden vs. fehlend)
                              present  missing
neighbourhood_group_cleansed
Manhattan                       0.445    0.440
Brooklyn                        0.342    0.403
Queens                          0.157    0.134
Bronx                           0.042    0.019
Staten Island                   0.015    0.003

accommodates – Anteil je Kategorie (price vorhanden vs. fehlend)
              present  missing
accommodates
2               0.460    0.494
1               0.171    0.192
4               0.153    0.139
3               0.078    0.092
6               0.055    0.032
5               0.037    0.027
8               0.021    0.009
7               0.009    0.006
10              0.005    0.002
16              0.005    0.002
9               0.003    0.001
12              0.003    0.002
11              0.001    0.000
14              0.001    0.000
15              0.000    0.000
13              0.000    0.000

In [20]:
# price säubern und zum Zahl convertieren

df["price"] = (df["price"].astype(str)
                .str.replace(r"[^\d.\-]", "", regex=True)
                .replace({"": np.nan}).astype(float))


df["price"].loc[20:26]

20    162.0
21    173.0
22      NaN
23    310.0
24      NaN
25      NaN
26    175.0
Name: price, dtype: float64

In [21]:
# Fill missing price: hierarchische Median-Imputation
groupings = [
    ["neighbourhood_group_cleansed","room_type","accommodates"],
    ["neighbourhood_group_cleansed","room_type"],
    ["room_type","accommodates"],
    ["room_type"],
]

mask = df["price"].isna()
for cols in groupings:
    cols = [c for c in cols if c in df.columns]
    if not cols: 
        continue
    med = df.groupby(cols)["price"].transform("median")
    fill = df["price"].isna() & med.notna()
    df.loc[fill, "price"] = med[fill]

# Fallback: globaler Median
# if df["price"].isna().any():
#     df["price"] = df["price"].fillna(df["price"].median())

In [ ]:
print("Fehlende Preise nach Imputation:", df["price"].isna().sum())

In [ ]:
# fill df["bathrooms"] from df["bathrooms_text"] only where it’s missing 
# (handles “1 bath”, “1.5 baths”, “Half-bath”, “shared half-bath”, “2 bathrooms”, etc.):

# 
pattern = re.compile(r"""(?ix)
    ^\s*                                                          # allow leading spaces
    (?:                                                           # start alternation
        (?P<num>\d+(?:\.\d+)?)\s*                                 # 1, 1.5, 0, 15.5
        (?: (?:private|shared)\s+ )?                              # optional qualifier after number
        bath(?:room)?s?                                           # bath / bathroom(s)
      |
        (?: (?:private|shared)\s+ )?                              # optional qualifier before 'half'
        half[-\s]?bath(?:room)?s?                                 # half-bath / half bathroom(s)
    )
    \s*$                                                          # allow trailing spaces
""")

def parse_bath(text: str):
    """Parse bath count from bathrooms_text (your listed formats)."""
    if not isinstance(text, str) or not text.strip():
        return np.nan
    m = pattern.match(text.strip())
    if not m:
        return np.nan
    if m.group('num') is not None:        # numeric forms: '1 bath', '1.5 shared baths', '0 baths'
        return float(m.group('num'))
    else:                                  # 'half-bath', 'shared half-bath', 'private half-bath'
        return 0.5

# fill only missing bathrooms from parsed bathrooms_text
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms_text"].apply(parse_bath))

In [ ]:
df_bathrooms_null_bathrooms_text_filled = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

len(df_bathrooms_null_bathrooms_text_filled)

In [ ]:
df_bathrooms_null_bathrooms_text_filled.index.values

In [ ]:
# Check
for i in df_bathrooms_null_bathrooms_text_filled.index.values:
    if i not in df_bathrooms_null_bathrooms_text.index.values:
        print("Error: ", i)

In [ ]:
# Check
# df[["bathrooms", "bathrooms_text"]].loc[idx[0:15]]

# bathrooms	bathrooms_text
# 4	1.0	1 shared bath
# 6	1.0	1 shared bath
# 9	1.0	1 bath
# 10	1.0	1 bath
# 12	1.5	1.5 baths
# 13	1.0	1 bath
# 15	1.0	1 bath
# 18	2.0	2 baths
# 22	2.5	2.5 baths
# 24	1.0	1 shared bath
# 25	2.0	2 baths
# 34	1.0	1 bath
# 35	1.0	1 bath
# 38	1.0	1 bath
# 39	1.0	1 bath

In [ ]:
# Investigate: drop Yes
df["neighbourhood"].unique()

# array(['Neighborhood highlights', nan], dtype=object)

In [ ]:
# Drop "neighbourhood". The reason: we have a column "neighbourhood_cleansed" with corrct location (district in NY)
df = df.drop("neighbourhood", axis=1)

In [ ]:
# Investigate: drop No
len(df["host_neighbourhood"].unique())

# array(['Gravesend', 'Midtown', 'Greenwood Heights', 'Williamsburg',
#        'East Harlem', 'Fort Greene', 'Ridgewood', 'Alphabet City',
#        'Greenwich Village', 'Harlem', ...], dtype=object)

In [ ]:
# Investigate: drop No
# df["host_location"].unique()

# array(['New York, NY', 'Woodstock, NY', ...])

In [ ]:
# bathrooms aus Text -> Zahl

def parse_bath(text: str):
    if not isinstance(text, str):
        return None
    total = 0.0
    found = False
    for m in pattern.finditer(text):
        s = m.group(0).lower()
        if "half" in s:         
            total += 0.5
            found = True
        else:
            num = re.search(r'\d+(?:\.\d+)?|\d+\s*/\s*\d+|½', s).group(0)
            if '/' in num:
                a, b = num.split('/')
                total += float(a) / float(b)
            elif num == '½':
                total += 0.5
            else:
                total += float(num)
            found = True
    return total if found else None

df["bathrooms_from_text"] = df["bathrooms_text"].apply(parse_bath)

# bedrooms mit Mittelwert füllen

In [ ]:
df["bathrooms_from_text"].unique()

In [ ]:
df["bathrooms"].unique()

In [ ]:
# Investigate: 
df[df["host_location"].notnull()][["host_location", "latitude", "longitude"]].head(10)

In [ ]:
# df["host_location"].unique()
# array(['New York, NY', 'Woodstock, NY', 'Las Vegas, NV',
       # 'New York, United States', 'Great Neck, NY', dtype=object...])

In [ ]:
# Investigate df["host_location"]
# Convert type df["host_location"] to string
df["host_location"] = df["host_location"].astype("string") 

df[df["host_location"] == "Calgary, Canada"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 34152	Calgary, Canada	40.678622	-73.946671
# BUT IT"S NY !!!!

df[df["host_location"] == "Vila Velha, Brazil"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 35999	Vila Velha, Brazil	40.730115	-73.982319
# BUT IT"S NY !!!!
# DROP df["host_location"] - a lot of

In [ ]:
# Drop "host_location"
df = df.drop("host_location", axis=1)

In [ ]:
# Investigate: drop Yes - not in the dictionary !!!!!
df["estimated_revenue_l365d"].unique()

In [ ]:
# Drop "estimated_revenue_l365d" missing values > 40%
df = df.drop("estimated_revenue_l365d", axis=1)

In [ ]:
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

In [ ]:
# Investigate "has_availability "
df["has_availability"].unique()
# >>>
# <BooleanArray>
# [True, <NA>]
# Length: 2, dtype: boolean

df[df["has_availability"].isnull()][["has_availability", "availability_30", "availability_60", "availability_90", "availability_365"]]
# >>>
#        has_availability	availability_30	availability_60	availability_90	availability_365
# 13	<NA>	0	0	0	0
# 35	<NA>	0	0	0	0
# 42	<NA>	0	0	0	0
# 59	<NA>	0	0	0	0
# 71	<NA>	0	0	0	0
# ...	...	...	...	...	...
# 36268	<NA>	28	58	88	88
# 36273	<NA>	6	21	51	141
# 36276	<NA>	30	60	90	365
# 36306	<NA>	16	46	66	66
# 36311	<NA>	10	31	31	31

# len(df[df["availability_30"] == 0][df["availability_60"] == 0][df["availability_90"] == 0][df["availability_365"] == 0][["has_availability"]])

mask = (
    df["availability_30"].eq(0) &
    df["availability_60"].eq(0) &
    df["availability_90"].eq(0) &
    df["availability_365"].eq(0) &
    df["has_availability"].isna()
)

count = mask.sum()          # number of rows
rows  = df.loc[mask]        # the matching rows (if you need them)
count
rows[["has_availability","availability_30","availability_60","availability_90","availability_365"]]

In [ ]:
mask = (
    df["has_availability"].isna() |
    df["availability_30"].eq(0) &
    df["availability_60"].eq(0) &
    df["availability_90"].eq(0) &
    df["availability_365"].eq(0)
)

count = mask.sum()          # number of rows
rows  = df.loc[mask]        # the matching rows (if you need them)
count
rows[["has_availability","availability_30","availability_60","availability_90","availability_365"]]

In [ ]:
# Clean df["has_availability"]
# fill the 15% missing in has_availability using the calendar windows (no NAs left):

# Minimal (use 365 days only)
# True if there is at least 1 available day in the next 365, else False
df["has_availability"] = (
    df["has_availability"]
      .fillna(df["availability_365"].gt(0))
      .astype("boolean")
)

In [ ]:
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 10].Total_perc
cols_to_drop

In [ ]:
# Investigate 
# bedrooms" missing values 16.651065
# beds: missing values 40.476846
# mask = (
#     df["beds"].eq(0) &
#     df["bedrooms"].eq(0)
# )

# count = mask.sum()  
# count
# rows  = df.loc[mask] 
# rows[["beds", "bedrooms"]]
# 60

# mask = (
#     df["beds"].isnull() &
#     df["bedrooms"].notnull()
# )
# mask = (
#     df["beds"].notnull() &
#     df["bedrooms"].notnull() &
#     df["beds"] > df["bedrooms"]
# )
# rows  = df.loc[mask]
# len(rows)*100/len(df) # 24 %

# Let's drop ["beds", "bedrooms"] - viel missing data

# mask = (
#     df["bathrooms"].notnull() &
#     df["bathrooms_from_text"] !=  df["bathrooms"]
# )

# rows  = df.loc[mask]
# len(rows)
# # Let's drop "bathrooms_from_text" - it's redundent data

In [ ]:
# Do not need for statistic:

# Drop "host_response_time" missing values > 40%
df = df.drop("host_response_time", axis=1)

# Drop "host_response_rate" missing values > 40%
df = df.drop("host_response_rate", axis=1)

# Drop "host_acceptance_rate" missing values > 40%
df = df.drop("host_acceptance_rate", axis=1)


# Drop "host_neighbourhood" missing values > 20%
# The reason: we have a column "neighbourhood_cleansed" with correct location (district in NY) -symilar to "host_neighbourhood"
df = df.drop("host_neighbourhood", axis=1)


# Drop. The reason: No discription in the Data Dictionary
# Drop "host_is_superhost" 
df = df.drop("host_is_superhost", axis=1)

# Drop "host_verifications" 
df = df.drop("host_verifications", axis=1)

# Drop ["beds", "bedrooms"] - viel missing data
df = df.drop("beds", axis=1)
df = df.drop("bedrooms", axis=1)

# Drop "host_has_profile_pic" 
df = df.drop("host_has_profile_pic", axis=1)

# Drop "bathrooms_text"
df = df.drop("bathrooms_text", axis=1)

# Drop "bathrooms_from_text" 
df = df.drop("bathrooms_from_text", axis=1)

In [ ]:
# Investigate reviews. The reasin: missing values > 30 %

file_reviews_big ="data/12/NewYorkCity/reviews_big.csv"
df_reviews_big = pd.read_csv(file_reviews_big, low_memory=False)

# print(len(df_reviews_big["listing_id"].unique()), len(df["id"].unique())) # 25171 36322

# set_reviewb = set(df_reviews_big["listing_id"].unique())
# set_listingsb = set(df["id"].unique())
# set_reviewb.difference(set_listingsb)
# len([i for i in set_listingsb if i in set_reviewb]) # 25171
# len([i for i in set_listingsb if i not in set_reviewb]) # 11151
# len([i for i in set_reviewb if i in set_listingsb]) # 25171

# # All "listing_id" from "reviews_big.csv" are presented also in "listings_big.csv" as "id"
# len([i for i in set_reviewb if i not in set_listingsb]) # 0

df_reviews_big.info()
# Conclusion: the column: "date" of the review can be interesting!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
missing_values(df)[missing["Total_perc"] >= 0].Total_perc

In [ ]:
# Drop all columns regarding reviews. The reason: missing values > 30 %
# Fehlende Werte: Spalten mit hoher als 20% Fehlrate droppen.
cols = df.columns[df.isna().mean() > 0.30]
df = df.drop(columns=cols, axis=1)
df.info()

In [ ]:
missing_values(df)[missing["Total_perc"] > 0].Total_perc

In [ ]:
df.info()

In [ ]:
# Fullen Fehlende Wette
num_cols  = df.select_dtypes(include="number").columns
cat_cols  = df.select_dtypes(include=["object","category"]).columns
bool_cols = df.select_dtypes(include="boolean").columns
dt_cols   = df.select_dtypes(include="datetime").columns

In [ ]:
# Numerische Werte
df[num_cols] = df[num_cols].apply(lambda s: s.fillna(s.median()))

# kategoriale Werte
for c in cat_cols:
    if df[c].isna().any():
        mode = df[c].mode(dropna=True)
        df[c] = df[c].fillna(mode.iloc[0] if not mode.empty else "Unbekannt")

# boolesche Werte
for c in bool_cols:
    df[c] = df[c].fillna(False)


for c in dt_cols:
    if df[c].isna().any():
        m = df[c].mode(dropna=True)
        if not m.empty:
            df[c] = df[c].fillna(m.iloc[0])

In [ ]:
missing_values(df)[missing["Total_perc"] >= 0].Total_perc

In [ ]:
# Save dataframe to csv file
df.to_csv(f"{file[:-4]}_clean.csv")

In [ ]:
df.info()