<a id="0.1"></a>
<h1 style="background-color:#38ACEC;font-family:newtimeroman;font-size:350%;text-align:center;border-radius: 15px 50px;">Inhaltsverzeichnis</h1>

* [1. Einführung](#1)
    * [1.1 Datenquelle](#1.1)
    * [1.2 Anforderungen](#1.2)
    * [1.3 Datensatz und Datenwörterbuch](#1.3)
* [2. Aufbereitung der Daten](#2)
    * [2.1 Einlesen der Daten](#2.1)
    * [2.2 Datenverständnis](#2.2)
    * [2.3 Fehlende Werte und Duplikate](#2.3)
* [3. ](#3)
    * [3.1 Mittelwert, Median, Ausreißer](#3.1)
* [4. Deskriptive Statistik](#3)
    * [4.1 Mittelwert, Median, Ausreißer](#4.1)

<a class="anchor" id="1.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.1 Datenquelle</h3>

**Inside Airbnb** ist ein gemeinwohlorientiertes Projekt. Es sammelt Daten zu Airbnb zur Analyse der Wirkung auf **Wohngebiete**.
*[_About – Inside Airbnb_](https://insideairbnb.com/about/)*
                           
[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="1.2"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.2 Anforderungen</h3>


**Liste der erforderlichen Bibliotheken:**
- *`pandas`* — Daten laden, aufbereiten, zusammenfassen

[**Inhaltsverzeichnis**](#0.1)

In [2]:
import re

import numpy as np
import pandas as pd

<a class="anchor" id="1.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.3 Datensatz & Datenwörterbuch</h3>


- **Stadt:** Paris, France  
- **Datei:** `listings_big.csv.gz` — *Detailed Listings*  
- **Daten-Seite:** *[_Get the Data_](https://insideairbnb.com/get-the-data/)*  
- **Datenwörterbuch:** *[Inside Airbnb Data Dictionary (Google Sheet)](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit?gid=1322284596#gid=1322284596)*

[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="2.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.1 Einlesen der Daten</h3>

                           
[**Inhaltsverzeichnis**](#0.1)

In [4]:
file = "data/12/Paris/listings_big.csv" 

df_orig = pd.read_csv(file, low_memory=False)

<a class="anchor" id="2.2"></a>
<h3 style="background-color:blue;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.2 Datenverständnis</h3>

[**Inhaltsverzeichnis**](#0.1)

In [5]:
drop_columns = ["listing_url", 
                "scrape_id", 
                "last_scraped", 
                "source",
                "description",
                "neighborhood_overview", 
                "picture_url",
                "host_url",
                "host_about",
                "host_thumbnail_url",
                "host_picture_url",
                "calendar_last_scraped",
                "license", 
                "calendar_updated",
                ]

df = df_orig.drop(columns=drop_columns, axis=1)
print(len(df["id"].unique()))
print(df.info())

84055
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84055 entries, 0 to 84054
Data columns (total 65 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            84055 non-null  int64
 1   name                                          84055 non-null  object
 2   host_id                                       84055 non-null  int64
 3   host_name                                     84031 non-null  object
 4   host_since                                    84029 non-null  object
 5   host_location                                 66876 non-null  object
 6   host_response_time                            52663 non-null  object
 7   host_response_rate                            52663 non-null  object
 8   host_acceptance_rate                          57913 non-null  object
 9   host_is_superhost                             82227 non-null  object
 10  host_neighbourhood                            28915 non-null  object
 11  host_listings_count                           84029 non-null  float64
 12  host_total_listings_count                     84029 non-null  float64
 13  host_verifications                            84029 non-null  object
 14  host_has_profile_pic                          84029 non-null  object
 15  host_identity_verified                        84029 non-null  object
 16  neighbourhood                                 41178 non-null  object
 17  neighbourhood_cleansed                        84055 non-null  object
 18  neighbourhood_group_cleansed                  0 non-null      float64
 19  latitude                                      84055 non-null  float64
 20  longitude                                     84055 non-null  float64
 21  property_type                                 84055 non-null  object
 22  room_type                                     84055 non-null  object
 23  accommodates                                  84055 non-null  int64
 24  bathrooms                                     54297 non-null  float64
 25  bathrooms_text                                83982 non-null  object
 26  bedrooms                                      76918 non-null  float64
 27  beds                                          54007 non-null  float64
 28  amenities                                     84055 non-null  object
 29  price                                         53963 non-null  object
 30  minimum_nights                                84055 non-null  int64
 31  maximum_nights                                84055 non-null  int64
 32  minimum_minimum_nights                        84055 non-null  int64
 33  maximum_minimum_nights                        84055 non-null  int64
 34  minimum_maximum_nights                        84055 non-null  int64
 35  maximum_maximum_nights                        84055 non-null  int64
 36  minimum_nights_avg_ntm                        84055 non-null  float64
 37  maximum_nights_avg_ntm                        84055 non-null  float64
 38  has_availability                              79903 non-null  object
 39  availability_30                               84055 non-null  int64
 40  availability_60                               84055 non-null  int64
 41  availability_90                               84055 non-null  int64
 42  availability_365                              84055 non-null  int64
 43  number_of_reviews                             84055 non-null  int64
 44  number_of_reviews_ltm                         84055 non-null  int64
 45  number_of_reviews_l30d                        84055 non-null  int64
 46  availability_eoy                              84055 non-null  int64
 47  number_of_reviews_ly                          84055 non-null  int64
 48  estimated_occupancy_l365d                     84055 non-null  int64
 49  estimated_revenue_l365d                       53963 non-null  float64
 50  first_review                                  64498 non-null  object
 51  last_review                                   64498 non-null  object
 52  review_scores_rating                          64498 non-null  float64
 53  review_scores_accuracy                        64486 non-null  float64
 54  review_scores_cleanliness                     64489 non-null  float64
 55  review_scores_checkin                         64479 non-null  float64
 56  review_scores_communication                   64488 non-null  float64
 57  review_scores_location                        64480 non-null  float64
 58  review_scores_value                           64479 non-null  float64
 59  instant_bookable                              84055 non-null  object
 60  calculated_host_listings_count                84055 non-null  int64
 61  calculated_host_listings_count_entire_homes   84055 non-null  int64
 62  calculated_host_listings_count_private_rooms  84055 non-null  int64
 63  calculated_host_listings_count_shared_rooms   84055 non-null  int64
 64  reviews_per_month                             64498 non-null  float64
dtypes: float64(19), int64(23), object(23)
memory usage: 41.7+ MB
None

In [6]:
df["id"].unique()

array([               3109,                5396,                7397, ...,
       1435646934109591444, 1435651230720315550, 1435661648760596809],
      shape=(84055,))

<a class="anchor" id="2.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.3 Fehlende Werte und Duplikate</h3>

[**Inhaltsverzeichnis**](#0.1)

TODOs:
- all column containing Datum convert to datetime type
- all columns containing "boolean" 't' and 'f' values convert to True/False boolean type
- check type for numeruc columns and convert object type to flot/int ("price" col)
- all columns object type containing strings convert to type string
- investigate columns with a lot of missing values to decide which we can drop

host_name                       0.041297 \
host_since                      0.041297 \
host_location                  20.398106 ==> drop \
host_response_time             40.669567 \ 
host_response_rate             40.669567\
host_acceptance_rate           40.201531\
host_is_superhost               1.354551\
host_neighbourhood             20.064974\
host_listings_count             0.041297\
host_total_listings_count       0.041297\
host_verifications              0.041297\
host_has_profile_pic            0.041297\
host_identity_verified          0.041297\
neighbourhood                  47.456087 ==> drop\
bathrooms                       0.068829\
bathrooms_text                  0.099113 ==> drop\
bedrooms                       16.651065\
beds                           40.476846 ==> drop\
price                          40.920104 currency '$' \
has_availability               15.464457\
estimated_revenue_l365d        40.920104\
first_review                   30.700402\
last_review                    30.700402\
review_scores_rating           30.700402\
review_scores_accuracy         30.727933\
review_scores_cleanliness      30.703155\
review_scores_checkin          30.738946\
review_scores_communication    30.716921\
review_scores_location         30.747206\
review_scores_value            30.744452\
reviews_per_month              30.700402


- drop the column "bathrooms_text": columns "bathrooms" and "bathrooms_text" contain similar info, 
so we can fill missing values in "bathrooms" with the corresponding values from "bathrooms_text" (it has 0.1% missing values)
- fill missing values in columns with numeric type which we do not want to drop with mean value   
- fill missing values in columns with dtype 'object' which we do not want to drop with "unknown" value
- do not drop columns:
- drop columns:
- convert columns with dtype 'object' to the type 'category'
- save the final dataframe to file


STATISTIC:
- Room type: Airbnb hosts can list entire homes/apartments, private, shared rooms, and more recently hotel rooms.
   room_type:  ['Private room', 'Entire home/apt', 'Hotel room', 'Shared room']

In [8]:
# 1) Datums- und Bool-Typen bearbeiten
if "host_since" in df.columns:
    df["host_since"] = pd.to_datetime(df["host_since"], errors="coerce")

def to_bool(x):
    if pd.isna(x):
        return pd.NA
    s = str(x).strip().lower()
    if s == "t" or x == True: return True
    if s == "f" or x == False:  return False
    return pd.NA

col_bool = ["host_is_superhost","host_has_profile_pic","host_identity_verified","instant_bookable","has_availability"]
# for c in col_bol:
#     print(df[c].unique())
# ['f' 't' nan]
# ['t' 'f' nan]
# ['t' 'f' nan]
# ['f' 't']
# ['t' nan]
    
for c in ["host_is_superhost","host_has_profile_pic","host_identity_verified",
          "instant_bookable","has_availability"]:
    if c in df.columns:
        df[c] = df[c].map(to_bool).astype("boolean")

In [9]:
# Definition
missing = df.isnull().sum().to_frame()

def missing_values(df):
    missing["Missing_values"] = df.isnull().sum().to_frame()
    missing["Total_perc"] = (missing["Missing_values"] / len(df)) * 100
    return missing

In [10]:
# Definition
# Investigate "price" column

def find_currency(df):
    currency = []
    for i in df["price"].unique():
        currency.append(str(i)[0])
    currency.remove('n')
    return set(currency)

find_currency(df) # {'$'}

{'$'}

In [11]:
# df[df["price"].isna() == True].loc[24]
# df["price"].loc[20:29]

In [12]:
# Investigate: Fehlende Werte

# missing["Missing Values"] = df.isnull().sum().to_frame()
# missing["Total_perc"] = (missing["Missing Values"] / len(df)) * 100
# missing[missing["Total_perc"] > 10].Total_perc

missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

host_name                         0.028553
host_since                        0.030932
host_location                    20.437809
host_response_time               37.346975
host_response_rate               37.346975
host_acceptance_rate             31.101065
host_is_superhost                 2.174767
host_neighbourhood               65.599905
host_listings_count               0.030932
host_total_listings_count         0.030932
host_verifications                0.030932
host_has_profile_pic              0.030932
host_identity_verified            0.030932
neighbourhood                    51.010648
neighbourhood_group_cleansed    100.000000
bathrooms                        35.403010
bathrooms_text                    0.086848
bedrooms                          8.490869
beds                             35.748022
price                            35.800369
has_availability                  4.939623
estimated_revenue_l365d          35.800369
first_review                     23.266909
last_review                      23.266909
review_scores_rating             23.266909
review_scores_accuracy           23.281185
review_scores_cleanliness        23.277616
review_scores_checkin            23.289513
review_scores_communication      23.278806
review_scores_location           23.288323
review_scores_value              23.289513
reviews_per_month                23.266909
Name: Total_perc, dtype: float64

In [13]:
# Investigate
df["bathrooms"].unique()
# array([ 1. ,  1.5,  nan,  2. ,  2.5,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
#        10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

array([ 1. ,  nan,  2.5,  2. ,  1.5,  4. ,  3.5,  3. ,  0.5,  4.5,  0. ,
        5. ,  6. ,  5.5,  7. ,  6.5,  7.5, 19. , 42. ])

In [14]:
# Investigate
df["bathrooms_text"].unique()
# array(['1 private bath', '1 bath', '1.5 baths', '1 shared bath',
#        '1.5 shared baths', '2 baths', '2.5 baths', nan, '3 baths',
#        '5 baths', '0 shared baths', '2 shared baths', 'Shared half-bath',
#        '3.5 baths', '2.5 shared baths', 'Half-bath', 'Private half-bath',
#        '0 baths', '15.5 baths', '3 shared baths', '10.5 baths', '4 baths',
#        '4.5 baths', '3.5 shared baths', '4 shared baths',
#        '4.5 shared baths', '5.5 baths', '6 baths', '7 baths',
#        '6 shared baths', '7.5 baths', '9 baths', '5 shared baths',
#        '6.5 baths'], dtype=object)

array(['1 bath', '1 shared bath', '1.5 baths', '2.5 baths', '2 baths',
       '0 baths', '1 private bath', '4 baths', nan, 'Half-bath',
       '2 shared baths', '3.5 baths', '3 baths', '1.5 shared baths',
       'Private half-bath', '4.5 baths', 'Shared half-bath', '5 baths',
       '6 baths', '5.5 baths', '0 shared baths', '8 baths', '7 baths',
       '6 shared baths', '2.5 shared baths', '3 shared baths',
       '6.5 baths', '7.5 baths', '41 baths', '30 shared baths',
       '10 shared baths', '3.5 shared baths', '30 baths', '19 baths',
       '42 baths', '9 baths', '4 shared baths'], dtype=object)

In [15]:
# Investigate "bathrooms", "bathrooms_text"
df_bathrooms_null_bathrooms_text = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

df_bathrooms_null_bathrooms_text
idx = df_bathrooms_null_bathrooms_text.index.values
idx
# bathrooms	bathrooms_text
# 4	NaN	1 shared bath
# 6	NaN	1 shared bath
# 9	NaN	1 bath
# 10	NaN	1 bath
# 12	NaN	1.5 baths
# ...	...	...
# 36059	NaN	1 bath
# 36088	NaN	1 private bath
# 36141	NaN	1 private bath
# 36181	NaN	2 shared baths
# 36217	NaN	1 shared bath
# 14640 rows × 2 columns

array([    3,     7,    15, ..., 82614, 82633, 84028], shape=(29758,))

In [16]:
# Investigate Room Type
df["room_type"].unique()

array(['Entire home/apt', 'Private room', 'Shared room', 'Hotel room'],
      dtype=object)

In [17]:
# Fill missing price
miss = df["price"].isna()

print("Missing-Rate gesamt:", miss.mean().round(3))

# Missing-Rate nach Segmenten
for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Missing-Rate:")
        print(df.groupby(col)["price"].apply(lambda s: s.isna().mean()).sort_values(ascending=False).head(10))

# Vergleich zentraler Maße (nur grob)
print("\naccommodates Median (price vorhanden vs. fehlend):",
      df.loc[~miss,"accommodates"].median(), "vs", df.loc[miss,"accommodates"].median())

Missing-Rate gesamt: 0.358

room_type – Missing-Rate:
room_type
Private room       0.461831
Entire home/apt    0.346509
Hotel room         0.334307
Shared room        0.192771
Name: price, dtype: float64

neighbourhood_group_cleansed – Missing-Rate:
Series([], Name: price, dtype: object)

accommodates – Missing-Rate:
accommodates
2     0.405483
1     0.396125
3     0.373009
4     0.334532
5     0.304846
13    0.294118
16    0.260870
7     0.238298
15    0.227273
6     0.222936
Name: price, dtype: float64

accommodates Median (price vorhanden vs. fehlend): 3.0 vs 2.0

In [18]:
# Vergleich der Verteilungen: vorhandener Preis vs. fehlender Preis
miss = df["price"].isna()

for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Anteil je Kategorie (price vorhanden vs. fehlend)")
        print(pd.concat({
            "present": df.loc[~miss, col].value_counts(normalize=True),
            "missing": df.loc[ miss, col].value_counts(normalize=True)
        }, axis=1).fillna(0).round(3))

room_type – Anteil je Kategorie (price vorhanden vs. fehlend)
                 present  missing
room_type
Entire home/apt    0.903    0.858
Private room       0.086    0.133
Hotel room         0.008    0.008
Shared room        0.002    0.001

neighbourhood_group_cleansed – Anteil je Kategorie (price vorhanden vs. fehlend)
Empty DataFrame
Columns: [present, missing]
Index: []

accommodates – Anteil je Kategorie (price vorhanden vs. fehlend)
              present  missing
accommodates
2               0.424    0.519
4               0.278    0.250
6               0.090    0.046
3               0.083    0.089
5               0.044    0.034
1               0.038    0.044
8               0.022    0.008
7               0.010    0.006
10              0.006    0.002
12              0.002    0.000
9               0.002    0.001
16              0.001    0.000
11              0.001    0.000
14              0.001    0.000
15              0.000    0.000
13              0.000    0.000

In [19]:
# price säubern => Zahl

df["price"] = (df["price"].astype(str)
                .str.replace(r"[^\d.\-]", "", regex=True)
                .replace({"": np.nan}).astype(float))

In [20]:
# Fill missing price: hierarchische Median-Imputation
groupings = [
    ["neighbourhood_group_cleansed","room_type","accommodates"],
    ["neighbourhood_group_cleansed","room_type"],
    ["room_type","accommodates"],
    ["room_type"],
]

mask = df["price"].isna()
for cols in groupings:
    cols = [c for c in cols if c in df.columns]
    if not cols: 
        continue
    med = df.groupby(cols)["price"].transform("median")
    fill = df["price"].isna() & med.notna()
    df.loc[fill, "price"] = med[fill]

# Fallback: globaler Median
# if df["price"].isna().any():
#     df["price"] = df["price"].fillna(df["price"].median())

In [21]:
print("Fehlende Preise nach Imputation:", df["price"].isna().sum())

Fehlende Preise nach Imputation: 0

In [22]:
# Fehlende Werte: Analyse

# missing["Missing_values"] = df.isnull().sum().to_frame()
# missing["% of Total"] = (missing["Missing_values"] / len(df)) * 100
# missing[missing["Missing_values"] > 0]
    
missing_values(df)[missing["Total_perc"] > 0].Total_perc

host_name                         0.028553
host_since                        0.030932
host_location                    20.437809
host_response_time               37.346975
host_response_rate               37.346975
host_acceptance_rate             31.101065
host_is_superhost                 2.174767
host_neighbourhood               65.599905
host_listings_count               0.030932
host_total_listings_count         0.030932
host_verifications                0.030932
host_has_profile_pic              0.030932
host_identity_verified            0.030932
neighbourhood                    51.010648
neighbourhood_group_cleansed    100.000000
bathrooms                        35.403010
bathrooms_text                    0.086848
bedrooms                          8.490869
beds                             35.748022
has_availability                  4.939623
estimated_revenue_l365d          35.800369
first_review                     23.266909
last_review                      23.266909
review_scores_rating             23.266909
review_scores_accuracy           23.281185
review_scores_cleanliness        23.277616
review_scores_checkin            23.289513
review_scores_communication      23.278806
review_scores_location           23.288323
review_scores_value              23.289513
reviews_per_month                23.266909
Name: Total_perc, dtype: float64

In [24]:
# fill df["bathrooms"] from df["bathrooms_text"] only where it’s missing 
# (handles “1 bath”, “1.5 baths”, “Half-bath”, “shared half-bath”, “2 bathrooms”, etc.):

pattern = re.compile(r"""(?ix)
    ^\s*                                                          # allow leading spaces
    (?:                                                           # start alternation
        (?P<num>\d+(?:\.\d+)?)\s*                                 # 1, 1.5, 0, 15.5
        (?: (?:private|shared)\s+ )?                              # optional qualifier after number
        bath(?:room)?s?                                           # bath / bathroom(s)
      |
        (?: (?:private|shared)\s+ )?                              # optional qualifier before 'half'
        half[-\s]?bath(?:room)?s?                                 # half-bath / half bathroom(s)
    )
    \s*$                                                          # allow trailing spaces
""")

def parse_bath(text: str):
    """Parse bath count from bathrooms_text (your listed formats)."""
    if not isinstance(text, str) or not text.strip():
        return np.nan
    m = pattern.match(text.strip())
    if not m:
        return np.nan
    if m.group('num') is not None:        # numeric forms: '1 bath', '1.5 shared baths', '0 baths'
        return float(m.group('num'))
    else:                                  # 'half-bath', 'shared half-bath', 'private half-bath'
        return 0.5

# fill only missing bathrooms from parsed bathrooms_text
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms_text"].apply(parse_bath))

In [25]:
df_bathrooms_null_bathrooms_text_filled = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

len(df_bathrooms_null_bathrooms_text_filled)

25

In [26]:
df_bathrooms_null_bathrooms_text_filled.index.values

array([   59,   389,   443,   457,   469,   828,   849,  2347,  2503,
        3018,  5822, 14940, 17366, 17367, 17381, 20029, 20054, 20057,
       28437, 30861, 33572, 34513, 34973, 35625, 35811])

In [27]:
# Check
for i in df_bathrooms_null_bathrooms_text_filled.index.values:
    if i not in df_bathrooms_null_bathrooms_text.index.values:
        print("Error: ", i)

In [28]:
# Check
# df[["bathrooms", "bathrooms_text"]].loc[idx[0:15]]

# bathrooms	bathrooms_text
# 4	1.0	1 shared bath
# 6	1.0	1 shared bath
# 9	1.0	1 bath
# 10	1.0	1 bath
# 12	1.5	1.5 baths
# 13	1.0	1 bath
# 15	1.0	1 bath
# 18	2.0	2 baths
# 22	2.5	2.5 baths
# 24	1.0	1 shared bath
# 25	2.0	2 baths
# 34	1.0	1 bath
# 35	1.0	1 bath
# 38	1.0	1 bath
# 39	1.0	1 bath

In [29]:
# Investigate: drop Yes
df["neighbourhood"].unique()

# array(['Neighborhood highlights', nan], dtype=object)

array(['Neighborhood highlights', nan], dtype=object)

In [30]:
# Drop "neighbourhood". The reason: we have a column "neighbourhood_cleansed" with corrct location (district in NY)
df = df.drop("neighbourhood", axis=1)

In [31]:
# Investigate: drop No
len(df["host_neighbourhood"].unique())

# array(['Gravesend', 'Midtown', 'Greenwood Heights', 'Williamsburg',
#        'East Harlem', 'Fort Greene', 'Ridgewood', 'Alphabet City',
#        'Greenwich Village', 'Harlem', ...], dtype=object)

536

In [32]:
# Investigate: drop No
# df["host_location"].unique()

# array(['New York, NY', 'Woodstock, NY', ...])

In [33]:
# bathrooms aus Text -> Zahl

def parse_bath(text: str):
    if not isinstance(text, str):
        return None
    total = 0.0
    found = False
    for m in pattern.finditer(text):
        s = m.group(0).lower()
        if "half" in s:         
            total += 0.5
            found = True
        else:
            num = re.search(r'\d+(?:\.\d+)?|\d+\s*/\s*\d+|½', s).group(0)
            if '/' in num:
                a, b = num.split('/')
                total += float(a) / float(b)
            elif num == '½':
                total += 0.5
            else:
                total += float(num)
            found = True
    return total if found else None

df["bathrooms_from_text"] = df["bathrooms_text"].apply(parse_bath)

# bedrooms mit Mittelwert füllen

In [34]:
df["bathrooms_from_text"].unique()

array([ 1. ,  1.5,  2. ,  2.5,  nan,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
       10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

In [35]:
df["bathrooms"].unique()

array([ 1. ,  1.5,  2. ,  2.5,  nan,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
       10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

In [36]:
# Investigate: 
df[df["host_location"].notnull()][["host_location", "latitude", "longitude"]].head(10)

   host_location  latitude  longitude
0   New York, NY  40.64529  -73.97238
1  Woodstock, NY  40.75356  -73.98559
2   New York, NY  40.66265  -73.99454
3   New York, NY  40.70935  -73.95342
4   New York, NY  40.80107  -73.94255
5   New York, NY  40.78778  -73.94759
6   New York, NY  40.71248  -73.95881
7   New York, NY  40.69194  -73.97389
8   New York, NY  40.70271  -73.89930
9   New York, NY  40.72530  -73.98028

In [37]:
# df["host_location"].unique()
# array(['New York, NY', 'Woodstock, NY', 'Las Vegas, NV',
       # 'New York, United States', 'Great Neck, NY', dtype=object...])

In [38]:
# Investigate df["host_location"]
# Convert type df["host_location"] to string
df["host_location"] = df["host_location"].astype("string") 

df[df["host_location"] == "Calgary, Canada"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 34152	Calgary, Canada	40.678622	-73.946671
# BUT IT"S NY !!!!

df[df["host_location"] == "Vila Velha, Brazil"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 35999	Vila Velha, Brazil	40.730115	-73.982319
# BUT IT"S NY !!!!
# DROP df["host_location"] - a lot of

            host_location   latitude  longitude
35999  Vila Velha, Brazil  40.730115 -73.982319

In [39]:
# Drop "host_location"
df = df.drop("host_location", axis=1)

In [40]:
# Investigate: drop Yes - not in the dictionary !!!!!
df["estimated_revenue_l365d"].unique()

array([    0., 23280.,    nan, ..., 32768.,  1326.,  8823.], shape=(2442,))

In [41]:
# Drop "estimated_revenue_l365d" missing values > 40%
df = df.drop("estimated_revenue_l365d", axis=1)

In [42]:
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

name                            0.005506
host_name                       0.041297
host_since                      0.041297
host_response_time             40.669567
host_response_rate             40.669567
host_acceptance_rate           40.201531
host_is_superhost               1.354551
host_neighbourhood             20.064974
host_listings_count             0.041297
host_total_listings_count       0.041297
host_verifications              0.041297
host_has_profile_pic            0.041297
host_identity_verified          0.041297
bathrooms                       0.068829
bathrooms_text                  0.099113
bedrooms                       16.651065
beds                           40.476846
has_availability               15.464457
first_review                   30.700402
last_review                    30.700402
review_scores_rating           30.700402
review_scores_accuracy         30.727933
review_scores_cleanliness      30.703155
review_scores_checkin          30.738946
review_scores_communication    30.716921
review_scores_location         30.747206
review_scores_value            30.744452
reviews_per_month              30.700402
Name: Total_perc, dtype: float64

In [43]:
# Investigate "has_availability "
df["has_availability"].unique()
# >>>
# <BooleanArray>
# [True, <NA>]
# Length: 2, dtype: boolean

df[df["has_availability"].isnull()][["has_availability", "availability_30", "availability_60", "availability_90", "availability_365"]]
# >>>
#        has_availability	availability_30	availability_60	availability_90	availability_365
# 13	<NA>	0	0	0	0
# 35	<NA>	0	0	0	0
# 42	<NA>	0	0	0	0
# 59	<NA>	0	0	0	0
# 71	<NA>	0	0	0	0
# ...	...	...	...	...	...
# 36268	<NA>	28	58	88	88
# 36273	<NA>	6	21	51	141
# 36276	<NA>	30	60	90	365
# 36306	<NA>	16	46	66	66
# 36311	<NA>	10	31	31	31

# len(df[df["availability_30"] == 0][df["availability_60"] == 0][df["availability_90"] == 0][df["availability_365"] == 0][["has_availability"]])

mask = (
    df["availability_30"].eq(0) &
    df["availability_60"].eq(0) &
    df["availability_90"].eq(0) &
    df["availability_365"].eq(0) &
    df["has_availability"].isna()
)

count = mask.sum()          # number of rows
rows  = df.loc[mask]        # the matching rows (if you need them)
count
rows[["has_availability","availability_30","availability_60","availability_90","availability_365"]]

,has_availability,availability_30,availability_60,availability_90,availability_365
13,<NA>,0,0,0,0
35,<NA>,0,0,0,0
42,<NA>,0,0,0,0
59,<NA>,0,0,0,0
71,<NA>,0,0,0,0
...,...,...,...,...,...
33888,<NA>,0,0,0,0
33982,<NA>,0,0,0,0
34117,<NA>,0,0,0,0
34294,<NA>,0,0,0,0
36088,<NA>,0,0,0,0

In [44]:
mask = (
    df["has_availability"].isna() |
    df["availability_30"].eq(0) &
    df["availability_60"].eq(0) &
    df["availability_90"].eq(0) &
    df["availability_365"].eq(0)
)

count = mask.sum()          # number of rows
rows  = df.loc[mask]        # the matching rows (if you need them)
count
rows[["has_availability","availability_30","availability_60","availability_90","availability_365"]]

,has_availability,availability_30,availability_60,availability_90,availability_365
6,True,0,0,0,0
9,True,0,0,0,0
10,True,0,0,0,0
13,<NA>,0,0,0,0
15,True,0,0,0,0
...,...,...,...,...,...
36268,<NA>,28,58,88,88
36273,<NA>,6,21,51,141
36276,<NA>,30,60,90,365
36306,<NA>,16,46,66,66
36311,<NA>,10,31,31,31

In [45]:
# Clean df["has_availability"]
# fill the 15% missing in has_availability using the calendar windows (no NAs left):

# Minimal (use 365 days only)
# True if there is at least 1 available day in the next 365, else False
df["has_availability"] = (
    df["has_availability"]
      .fillna(df["availability_365"].gt(0))
      .astype("boolean")
)

In [46]:
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 10].Total_perc
cols_to_drop

host_response_time             40.669567
host_response_rate             40.669567
host_acceptance_rate           40.201531
host_neighbourhood             20.064974
bedrooms                       16.651065
beds                           40.476846
first_review                   30.700402
last_review                    30.700402
review_scores_rating           30.700402
review_scores_accuracy         30.727933
review_scores_cleanliness      30.703155
review_scores_checkin          30.738946
review_scores_communication    30.716921
review_scores_location         30.747206
review_scores_value            30.744452
reviews_per_month              30.700402
Name: Total_perc, dtype: float64

In [47]:
# Investigate 
# bedrooms" missing values 16.651065
# beds: missing values 40.476846
# mask = (
#     df["beds"].eq(0) &
#     df["bedrooms"].eq(0)
# )

# count = mask.sum()  
# count
# rows  = df.loc[mask] 
# rows[["beds", "bedrooms"]]
# 60

# mask = (
#     df["beds"].isnull() &
#     df["bedrooms"].notnull()
# )
# mask = (
#     df["beds"].notnull() &
#     df["bedrooms"].notnull() &
#     df["beds"] > df["bedrooms"]
# )
# rows  = df.loc[mask]
# len(rows)*100/len(df) # 24 %

# Let's drop ["beds", "bedrooms"] - viel missing data

# mask = (
#     df["bathrooms"].notnull() &
#     df["bathrooms_from_text"] !=  df["bathrooms"]
# )

# rows  = df.loc[mask]
# len(rows)
# # Let's drop "bathrooms_from_text" - it's redundent data

In [48]:
# Do not need for statistic:

# Drop "host_response_time" missing values > 40%
df = df.drop("host_response_time", axis=1)

# Drop "host_response_rate" missing values > 40%
df = df.drop("host_response_rate", axis=1)

# Drop "host_acceptance_rate" missing values > 40%
df = df.drop("host_acceptance_rate", axis=1)


# Drop "host_neighbourhood" missing values > 20%
# The reason: we have a column "neighbourhood_cleansed" with correct location (district in NY) -symilar to "host_neighbourhood"
df = df.drop("host_neighbourhood", axis=1)


# Drop. The reason: No discription in the Data Dictionary
# Drop "host_is_superhost" 
df = df.drop("host_is_superhost", axis=1)

# Drop "host_verifications" 
df = df.drop("host_verifications", axis=1)

# Drop ["beds", "bedrooms"] - viel missing data
df = df.drop("beds", axis=1)
df = df.drop("bedrooms", axis=1)

# Drop "host_has_profile_pic" 
df = df.drop("host_has_profile_pic", axis=1)

# Drop "bathrooms_text"
df = df.drop("bathrooms_text", axis=1)

# Drop "bathrooms_from_text" 
df = df.drop("bathrooms_from_text", axis=1)

In [49]:
# Investigate reviews. The reasin: missing values > 30 %

file_reviews_big ="data/12/NewYorkCity/reviews_big.csv"
df_reviews_big = pd.read_csv(file_reviews_big, low_memory=False)

# print(len(df_reviews_big["listing_id"].unique()), len(df["id"].unique())) # 25171 36322

# set_reviewb = set(df_reviews_big["listing_id"].unique())
# set_listingsb = set(df["id"].unique())
# set_reviewb.difference(set_listingsb)
# len([i for i in set_listingsb if i in set_reviewb]) # 25171
# len([i for i in set_listingsb if i not in set_reviewb]) # 11151
# len([i for i in set_reviewb if i in set_listingsb]) # 25171

# # All "listing_id" from "reviews_big.csv" are presented also in "listings_big.csv" as "id"
# len([i for i in set_reviewb if i not in set_listingsb]) # 0

df_reviews_big.info()
# Conclusion: the column: "date" of the review can be interesting!!!!!!!!!!!!!!!!!!!!!!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 975356 entries, 0 to 975355
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     975356 non-null  int64
 1   id             975356 non-null  int64
 2   date           975356 non-null  object
 3   reviewer_id    975356 non-null  int64
 4   reviewer_name  975352 non-null  object
 5   comments       975104 non-null  object
dtypes: int64(3), object(3)
memory usage: 44.6+ MB

In [50]:
missing_values(df)[missing["Total_perc"] >= 0].Total_perc

id                                               0.000000
name                                             0.005506
host_id                                          0.000000
host_name                                        0.041297
host_since                                       0.041297
host_listings_count                              0.041297
host_total_listings_count                        0.041297
host_identity_verified                           0.041297
neighbourhood_cleansed                           0.000000
neighbourhood_group_cleansed                     0.000000
latitude                                         0.000000
longitude                                        0.000000
property_type                                    0.000000
room_type                                        0.000000
accommodates                                     0.000000
bathrooms                                        0.068829
amenities                                        0.000000
price                                            0.000000
minimum_nights                                   0.000000
maximum_nights                                   0.000000
minimum_minimum_nights                           0.000000
maximum_minimum_nights                           0.000000
minimum_maximum_nights                           0.000000
maximum_maximum_nights                           0.000000
minimum_nights_avg_ntm                           0.000000
maximum_nights_avg_ntm                           0.000000
has_availability                                 0.000000
availability_30                                  0.000000
availability_60                                  0.000000
availability_90                                  0.000000
availability_365                                 0.000000
number_of_reviews                                0.000000
number_of_reviews_ltm                            0.000000
number_of_reviews_l30d                           0.000000
availability_eoy                                 0.000000
number_of_reviews_ly                             0.000000
estimated_occupancy_l365d                        0.000000
first_review                                    30.700402
last_review                                     30.700402
review_scores_rating                            30.700402
review_scores_accuracy                          30.727933
review_scores_cleanliness                       30.703155
review_scores_checkin                           30.738946
review_scores_communication                     30.716921
review_scores_location                          30.747206
review_scores_value                             30.744452
instant_bookable                                 0.000000
calculated_host_listings_count                   0.000000
calculated_host_listings_count_entire_homes      0.000000
calculated_host_listings_count_private_rooms     0.000000
calculated_host_listings_count_shared_rooms      0.000000
reviews_per_month                               30.700402
Name: Total_perc, dtype: float64

In [51]:
# Drop all columns regarding reviews. The reason: missing values > 30 %
# Fehlende Werte: Spalten mit hoher als 20% Fehlrate droppen.
cols = df.columns[df.isna().mean() > 0.30]
df = df.drop(columns=cols, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36322 entries, 0 to 36321
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36322 non-null  int64
 1   name                                          36320 non-null  object
 2   host_id                                       36322 non-null  int64
 3   host_name                                     36307 non-null  object
 4   host_since                                    36307 non-null  datetime64[ns]
 5   host_listings_count                           36307 non-null  float64
 6   host_total_listings_count                     36307 non-null  float64
 7   host_identity_verified                        36307 non-null  boolean
 8   neighbourhood_cleansed                        36322 non-null  object
 9   neighbourhood_group_cleansed                  36322 non-null  object
 10  latitude                                      36322 non-null  float64
 11  longitude                                     36322 non-null  float64
 12  property_type                                 36322 non-null  object
 13  room_type                                     36322 non-null  object
 14  accommodates                                  36322 non-null  int64
 15  bathrooms                                     36297 non-null  float64
 16  amenities                                     36322 non-null  object
 17  price                                         36322 non-null  float64
 18  minimum_nights                                36322 non-null  int64
 19  maximum_nights                                36322 non-null  int64
 20  minimum_minimum_nights                        36322 non-null  int64
 21  maximum_minimum_nights                        36322 non-null  int64
 22  minimum_maximum_nights                        36322 non-null  int64
 23  maximum_maximum_nights                        36322 non-null  int64
 24  minimum_nights_avg_ntm                        36322 non-null  float64
 25  maximum_nights_avg_ntm                        36322 non-null  float64
 26  has_availability                              36322 non-null  boolean
 27  availability_30                               36322 non-null  int64
 28  availability_60                               36322 non-null  int64
 29  availability_90                               36322 non-null  int64
 30  availability_365                              36322 non-null  int64
 31  number_of_reviews                             36322 non-null  int64
 32  number_of_reviews_ltm                         36322 non-null  int64
 33  number_of_reviews_l30d                        36322 non-null  int64
 34  availability_eoy                              36322 non-null  int64
 35  number_of_reviews_ly                          36322 non-null  int64
 36  estimated_occupancy_l365d                     36322 non-null  int64
 37  instant_bookable                              36322 non-null  boolean
 38  calculated_host_listings_count                36322 non-null  int64
 39  calculated_host_listings_count_entire_homes   36322 non-null  int64
 40  calculated_host_listings_count_private_rooms  36322 non-null  int64
 41  calculated_host_listings_count_shared_rooms   36322 non-null  int64
dtypes: boolean(3), datetime64[ns](1), float64(8), int64(23), object(7)
memory usage: 11.0+ MB

In [52]:
missing_values(df)[missing["Total_perc"] > 0].Total_perc

name                         0.005506
host_name                    0.041297
host_since                   0.041297
host_listings_count          0.041297
host_total_listings_count    0.041297
host_identity_verified       0.041297
bathrooms                    0.068829
Name: Total_perc, dtype: float64

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36322 entries, 0 to 36321
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36322 non-null  int64
 1   name                                          36320 non-null  object
 2   host_id                                       36322 non-null  int64
 3   host_name                                     36307 non-null  object
 4   host_since                                    36307 non-null  datetime64[ns]
 5   host_listings_count                           36307 non-null  float64
 6   host_total_listings_count                     36307 non-null  float64
 7   host_identity_verified                        36307 non-null  boolean
 8   neighbourhood_cleansed                        36322 non-null  object
 9   neighbourhood_group_cleansed                  36322 non-null  object
 10  latitude                                      36322 non-null  float64
 11  longitude                                     36322 non-null  float64
 12  property_type                                 36322 non-null  object
 13  room_type                                     36322 non-null  object
 14  accommodates                                  36322 non-null  int64
 15  bathrooms                                     36297 non-null  float64
 16  amenities                                     36322 non-null  object
 17  price                                         36322 non-null  float64
 18  minimum_nights                                36322 non-null  int64
 19  maximum_nights                                36322 non-null  int64
 20  minimum_minimum_nights                        36322 non-null  int64
 21  maximum_minimum_nights                        36322 non-null  int64
 22  minimum_maximum_nights                        36322 non-null  int64
 23  maximum_maximum_nights                        36322 non-null  int64
 24  minimum_nights_avg_ntm                        36322 non-null  float64
 25  maximum_nights_avg_ntm                        36322 non-null  float64
 26  has_availability                              36322 non-null  boolean
 27  availability_30                               36322 non-null  int64
 28  availability_60                               36322 non-null  int64
 29  availability_90                               36322 non-null  int64
 30  availability_365                              36322 non-null  int64
 31  number_of_reviews                             36322 non-null  int64
 32  number_of_reviews_ltm                         36322 non-null  int64
 33  number_of_reviews_l30d                        36322 non-null  int64
 34  availability_eoy                              36322 non-null  int64
 35  number_of_reviews_ly                          36322 non-null  int64
 36  estimated_occupancy_l365d                     36322 non-null  int64
 37  instant_bookable                              36322 non-null  boolean
 38  calculated_host_listings_count                36322 non-null  int64
 39  calculated_host_listings_count_entire_homes   36322 non-null  int64
 40  calculated_host_listings_count_private_rooms  36322 non-null  int64
 41  calculated_host_listings_count_shared_rooms   36322 non-null  int64
dtypes: boolean(3), datetime64[ns](1), float64(8), int64(23), object(7)
memory usage: 11.0+ MB

In [54]:
# Fullen Fehlende Wette
num_cols  = df.select_dtypes(include="number").columns
cat_cols  = df.select_dtypes(include=["object","category"]).columns
bool_cols = df.select_dtypes(include="boolean").columns
dt_cols   = df.select_dtypes(include="datetime").columns

In [55]:
# Numerische Werte
df[num_cols] = df[num_cols].apply(lambda s: s.fillna(s.median()))

# kategoriale Werte
for c in cat_cols:
    if df[c].isna().any():
        mode = df[c].mode(dropna=True)
        df[c] = df[c].fillna(mode.iloc[0] if not mode.empty else "Unbekannt")

# boolesche Werte
for c in bool_cols:
    df[c] = df[c].fillna(False)


for c in dt_cols:
    if df[c].isna().any():
        m = df[c].mode(dropna=True)
        if not m.empty:
            df[c] = df[c].fillna(m.iloc[0])

In [61]:
missing_values(df)[missing["Total_perc"] >= 0].Total_perc

id                                              0.0
name                                            0.0
host_id                                         0.0
host_name                                       0.0
host_since                                      0.0
host_listings_count                             0.0
host_total_listings_count                       0.0
host_identity_verified                          0.0
neighbourhood_cleansed                          0.0
neighbourhood_group_cleansed                    0.0
latitude                                        0.0
longitude                                       0.0
property_type                                   0.0
room_type                                       0.0
accommodates                                    0.0
bathrooms                                       0.0
amenities                                       0.0
price                                           0.0
minimum_nights                                  0.0
maximum_nights                                  0.0
minimum_minimum_nights                          0.0
maximum_minimum_nights                          0.0
minimum_maximum_nights                          0.0
maximum_maximum_nights                          0.0
minimum_nights_avg_ntm                          0.0
maximum_nights_avg_ntm                          0.0
has_availability                                0.0
availability_30                                 0.0
availability_60                                 0.0
availability_90                                 0.0
availability_365                                0.0
number_of_reviews                               0.0
number_of_reviews_ltm                           0.0
number_of_reviews_l30d                          0.0
availability_eoy                                0.0
number_of_reviews_ly                            0.0
estimated_occupancy_l365d                       0.0
instant_bookable                                0.0
calculated_host_listings_count                  0.0
calculated_host_listings_count_entire_homes     0.0
calculated_host_listings_count_private_rooms    0.0
calculated_host_listings_count_shared_rooms     0.0
Name: Total_perc, dtype: float64

In [62]:
# Save dataframe to csv file
df.to_csv(f"{file[:-4]}_clean.csv")

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36322 entries, 0 to 36321
Data columns (total 42 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            36322 non-null  int64
 1   name                                          36322 non-null  object
 2   host_id                                       36322 non-null  int64
 3   host_name                                     36322 non-null  object
 4   host_since                                    36322 non-null  datetime64[ns]
 5   host_listings_count                           36322 non-null  float64
 6   host_total_listings_count                     36322 non-null  float64
 7   host_identity_verified                        36322 non-null  boolean
 8   neighbourhood_cleansed                        36322 non-null  object
 9   neighbourhood_group_cleansed                  36322 non-null  object
 10  latitude                                      36322 non-null  float64
 11  longitude                                     36322 non-null  float64
 12  property_type                                 36322 non-null  object
 13  room_type                                     36322 non-null  object
 14  accommodates                                  36322 non-null  int64
 15  bathrooms                                     36322 non-null  float64
 16  amenities                                     36322 non-null  object
 17  price                                         36322 non-null  float64
 18  minimum_nights                                36322 non-null  int64
 19  maximum_nights                                36322 non-null  int64
 20  minimum_minimum_nights                        36322 non-null  int64
 21  maximum_minimum_nights                        36322 non-null  int64
 22  minimum_maximum_nights                        36322 non-null  int64
 23  maximum_maximum_nights                        36322 non-null  int64
 24  minimum_nights_avg_ntm                        36322 non-null  float64
 25  maximum_nights_avg_ntm                        36322 non-null  float64
 26  has_availability                              36322 non-null  boolean
 27  availability_30                               36322 non-null  int64
 28  availability_60                               36322 non-null  int64
 29  availability_90                               36322 non-null  int64
 30  availability_365                              36322 non-null  int64
 31  number_of_reviews                             36322 non-null  int64
 32  number_of_reviews_ltm                         36322 non-null  int64
 33  number_of_reviews_l30d                        36322 non-null  int64
 34  availability_eoy                              36322 non-null  int64
 35  number_of_reviews_ly                          36322 non-null  int64
 36  estimated_occupancy_l365d                     36322 non-null  int64
 37  instant_bookable                              36322 non-null  boolean
 38  calculated_host_listings_count                36322 non-null  int64
 39  calculated_host_listings_count_entire_homes   36322 non-null  int64
 40  calculated_host_listings_count_private_rooms  36322 non-null  int64
 41  calculated_host_listings_count_shared_rooms   36322 non-null  int64
dtypes: boolean(3), datetime64[ns](1), float64(8), int64(23), object(7)
memory usage: 11.0+ MB