<a id="0.1"></a>
<h1 style="background-color:#38ACEC;font-family:newtimeroman;font-size:350%;text-align:center;border-radius: 15px 50px;">Inhaltsverzeichnis</h1>

* [1. Einführung](#1)
    * [1.1 Datenquelle](#1.1)
    * [1.2 Anforderungen](#1.2)
    * [1.3 Datensatz und Datenwörterbuch](#1.3)
* [2. Aufbereitung der Daten](#2)
    * [2.1 Einlesen der Daten](#2.1)
    * [2.2 Datenverständnis](#2.2)
    * [2.3 Fehlende Werte und Duplikate](#2.3)
* [3. Deskriptive Statistik](#3)
    * [3.1 Mittelwert, Median, Ausreißer](#3.1)

<a class="anchor" id="1.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.1 Datenquelle</h3>

**Inside Airbnb** ist ein gemeinwohlorientiertes Projekt. Es sammelt Daten zu Airbnb zur Analyse der Wirkung auf **Wohngebiete**.
*[_About – Inside Airbnb_](https://insideairbnb.com/about/)*
                           
[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="1.2"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.2 Anforderungen</h3>


**Liste der erforderlichen Bibliotheken:**
- *`pandas`* — Daten laden, aufbereiten, zusammenfassen

[**Inhaltsverzeichnis**](#0.1)

In [ ]:
import re

import numpy as np
import pandas as pd

<a class="anchor" id="1.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">1.3 Datensatz & Datenwörterbuch</h3>


- **Stadt:** New York City, New York, USA  
- **Datei:** `listings.csv.gz` — *Detailed Listings*  
- **Daten-Seite:** *[_Get the Data_](https://insideairbnb.com/get-the-data/)*  
- **Datenwörterbuch:** *[Inside Airbnb Data Dictionary (Google Sheet)](https://docs.google.com/spreadsheets/d/1iWCNJcSutYqpULSQHlNyGInUvHg2BoUGoNRIGa6Szc4/edit?gid=1322284596#gid=1322284596)*

[**Inhaltsverzeichnis**](#0.1)

<a class="anchor" id="2.1"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.1 Einlesen der Daten</h3>

                           
[**Inhaltsverzeichnis**](#0.1)

In [ ]:
file = "data/12/NewYorkCity/listings_big.csv" 

df_orig = pd.read_csv(file, low_memory=False)

<a class="anchor" id="2.2"></a>
<h3 style="background-color:blue;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.2 Datenverständnis</h3>

[**Inhaltsverzeichnis**](#0.1)

In [ ]:
drop_columns = ["listing_url", 
                "scrape_id", 
                "last_scraped", 
                "source",
                "description",
                "neighborhood_overview", 
                "picture_url",
                "host_url",
                "host_about",
                "host_thumbnail_url",
                "host_picture_url",
                "calendar_last_scraped",
                "license", 
                "calendar_updated",
                ]

df = df_orig.drop(columns=drop_columns, axis=1)
print(df.info())

<a class="anchor" id="2.3"></a>
<h3 style="background-color:#38ACEC;font-family:newtimeroman;font-size:180%;text-align:center;border-radius: 15px 50px;">2.3 Fehlende Werte und Duplikate</h3>

[**Inhaltsverzeichnis**](#0.1)

In [ ]:
PLAN:
1. all column containing Datum convert to datetime type
2. all columns containing "boolean" 't' and 'f' values convert to True/False boolean type
3. check type for numeruc columns and convert object type to flot/int ("price" col)
4. all columns object type containing strings convert to type string
3. investigate columns with a lot of missing values to decide which we can drop
name                            0.005506
host_name                       0.041297
host_since                      0.041297
host_location                  20.398106 ==> drop
host_response_time             40.669567
host_response_rate             40.669567
host_acceptance_rate           40.201531
host_is_superhost               1.354551
host_neighbourhood             20.064974
host_listings_count             0.041297
host_total_listings_count       0.041297
host_verifications              0.041297
host_has_profile_pic            0.041297
host_identity_verified          0.041297
neighbourhood                  47.456087 ==> drop
bathrooms                       0.068829
bathrooms_text                  0.099113 ==> drop
bedrooms                       16.651065
beds                           40.476846 ==> drop
price                          40.920104 currency '$' 
has_availability               15.464457
estimated_revenue_l365d        40.920104
first_review                   30.700402
last_review                    30.700402
review_scores_rating           30.700402
review_scores_accuracy         30.727933
review_scores_cleanliness      30.703155
review_scores_checkin          30.738946
review_scores_communication    30.716921
review_scores_location         30.747206
review_scores_value            30.744452
reviews_per_month              30.700402


3.1 drop the column "bathrooms_text": columns "bathrooms" and "bathrooms_text" contain similar info, 
so we can fill missing values in "bathrooms" with the corresponding values from "bathrooms_text" (it has 0.1% missing values)
4. fill missing values in columns with numeric type which we do not want to drop with mean value   
5. fill missing values in columns with dtype 'object' which we do not want to drop with "unknown" value
6. do not drop columns:
7. drop columns:
8. convert columns with dtype 'object' to the type 'category'
9. save the final dataframe to file


STATISTIC:
1. Room type: Airbnb hosts can list entire homes/apartments, private, shared rooms, and more recently hotel rooms.
   room_type:  ['Private room', 'Entire home/apt', 'Hotel room', 'Shared room']

In [ ]:
# 1) Datums- und Bool-Typen bearbeiten
if "host_since" in df.columns:
    df["host_since"] = pd.to_datetime(df["host_since"], errors="coerce")

def to_bool(x):
    if pd.isna(x):
        return pd.NA
    s = str(x).strip().lower()
    if s == "t" or x == True: return True
    if s == "f" or x == False:  return False
    return pd.NA

col_bool = ["host_is_superhost","host_has_profile_pic","host_identity_verified","instant_bookable","has_availability"]
# for c in col_bol:
#     print(df[c].unique())
# ['f' 't' nan]
# ['t' 'f' nan]
# ['t' 'f' nan]
# ['f' 't']
# ['t' nan]
    
for c in ["host_is_superhost","host_has_profile_pic","host_identity_verified",
          "instant_bookable","has_availability"]:
    if c in df.columns:
        df[c] = df[c].map(to_bool).astype("boolean")

In [ ]:
# Definition
missing = df.isnull().sum().to_frame()

def missing_values(df):
    missing["Missing_values"] = df.isnull().sum().to_frame()
    missing["Total_perc"] = (missing["Missing_values"] / len(df)) * 100
    return missing

In [ ]:
# Definition
# Investigate "price" column

def find_currency(df):
    currency = []
    for i in df["price"].unique():
        currency.append(str(i)[0])
    currency.remove('n')
    return set(currency)

find_currency(df) # {'$'}

In [ ]:
# df[df["price"].isna() == True].loc[24]
# df["price"].loc[20:29]

In [ ]:
# Investigate: Fehlende Werte

# missing["Missing Values"] = df.isnull().sum().to_frame()
# missing["Total_perc"] = (missing["Missing Values"] / len(df)) * 100
# missing[missing["Total_perc"] > 10].Total_perc

missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

In [ ]:
# Investigate
df["bathrooms"].unique()
# array([ 1. ,  1.5,  nan,  2. ,  2.5,  3. ,  5. ,  0. ,  0.5,  3.5, 15.5,
#        10.5,  4. ,  4.5,  5.5,  6. ,  7. ,  7.5,  9. ,  6.5])

In [ ]:
# Investigate
df["bathrooms_text"].unique()
# array(['1 private bath', '1 bath', '1.5 baths', '1 shared bath',
#        '1.5 shared baths', '2 baths', '2.5 baths', nan, '3 baths',
#        '5 baths', '0 shared baths', '2 shared baths', 'Shared half-bath',
#        '3.5 baths', '2.5 shared baths', 'Half-bath', 'Private half-bath',
#        '0 baths', '15.5 baths', '3 shared baths', '10.5 baths', '4 baths',
#        '4.5 baths', '3.5 shared baths', '4 shared baths',
#        '4.5 shared baths', '5.5 baths', '6 baths', '7 baths',
#        '6 shared baths', '7.5 baths', '9 baths', '5 shared baths',
#        '6.5 baths'], dtype=object)

In [ ]:
# Investigate "bathrooms", "bathrooms_text"
df_bathrooms_null_bathrooms_text = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

df_bathrooms_null_bathrooms_text
idx = df_bathrooms_null_bathrooms_text.index.values
idx
# bathrooms	bathrooms_text
# 4	NaN	1 shared bath
# 6	NaN	1 shared bath
# 9	NaN	1 bath
# 10	NaN	1 bath
# 12	NaN	1.5 baths
# ...	...	...
# 36059	NaN	1 bath
# 36088	NaN	1 private bath
# 36141	NaN	1 private bath
# 36181	NaN	2 shared baths
# 36217	NaN	1 shared bath
# 14640 rows × 2 columns

In [ ]:
# Investigate Room Type

df["room_type"].unique()

In [ ]:
# Fill missing price
miss = df["price"].isna()

print("Missing-Rate gesamt:", miss.mean().round(3))

# Missing-Rate nach Segmenten
for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Missing-Rate:")
        print(df.groupby(col)["price"].apply(lambda s: s.isna().mean()).sort_values(ascending=False).head(10))

# Vergleich zentraler Maße (nur grob)
print("\naccommodates Median (price vorhanden vs. fehlend):",
      df.loc[~miss,"accommodates"].median(), "vs", df.loc[miss,"accommodates"].median())

In [ ]:
# Vergleich der Verteilungen: vorhandener Preis vs. fehlender Preis
miss = df["price"].isna()

for col in ["room_type","neighbourhood_group_cleansed","accommodates"]:
    if col in df.columns:
        print(f"\n{col} – Anteil je Kategorie (price vorhanden vs. fehlend)")
        print(pd.concat({
            "present": df.loc[~miss, col].value_counts(normalize=True),
            "missing": df.loc[ miss, col].value_counts(normalize=True)
        }, axis=1).fillna(0).round(3))

In [ ]:
# price säubern => Zahl

df["price"] = (df["price"].astype(str)
                .str.replace(r"[^\d.\-]", "", regex=True)
                .replace({"": np.nan}).astype(float))

In [ ]:
# Fill missing price: hierarchische Median-Imputation
groupings = [
    ["neighbourhood_group_cleansed","room_type","accommodates"],
    ["neighbourhood_group_cleansed","room_type"],
    ["room_type","accommodates"],
    ["room_type"],
]

mask = df["price"].isna()
for cols in groupings:
    cols = [c for c in cols if c in df.columns]
    if not cols: 
        continue
    med = df.groupby(cols)["price"].transform("median")
    fill = df["price"].isna() & med.notna()
    df.loc[fill, "price"] = med[fill]

# Fallback: globaler Median
# if df["price"].isna().any():
#     df["price"] = df["price"].fillna(df["price"].median())

In [ ]:
print("Fehlende Preise nach Imputation:", df["price"].isna().sum())

In [ ]:
# Fehlende Werte: Analyse

# missing["Missing_values"] = df.isnull().sum().to_frame()
# missing["% of Total"] = (missing["Missing_values"] / len(df)) * 100
# missing[missing["Missing_values"] > 0]
    
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

In [ ]:
# fill df["bathrooms"] from df["bathrooms_text"] only where it’s missing 
# (handles “1 bath”, “1.5 baths”, “Half-bath”, “shared half-bath”, “2 bathrooms”, etc.):

pattern = re.compile(r"""(?ix)
    ^\s*                                                          # allow leading spaces
    (?:                                                           # start alternation
        (?P<num>\d+(?:\.\d+)?)\s*                                 # 1, 1.5, 0, 15.5
        (?: (?:private|shared)\s+ )?                              # optional qualifier after number
        bath(?:room)?s?                                           # bath / bathroom(s)
      |
        (?: (?:private|shared)\s+ )?                              # optional qualifier before 'half'
        half[-\s]?bath(?:room)?s?                                 # half-bath / half bathroom(s)
    )
    \s*$                                                          # allow trailing spaces
""")

def parse_bath(text: str):
    """Parse bath count from bathrooms_text (your listed formats)."""
    if not isinstance(text, str) or not text.strip():
        return np.nan
    m = pattern.match(text.strip())
    if not m:
        return np.nan
    if m.group('num') is not None:        # numeric forms: '1 bath', '1.5 shared baths', '0 baths'
        return float(m.group('num'))
    else:                                  # 'half-bath', 'shared half-bath', 'private half-bath'
        return 0.5

# fill only missing bathrooms from parsed bathrooms_text
df["bathrooms"] = df["bathrooms"].fillna(df["bathrooms_text"].apply(parse_bath))

In [ ]:
df_bathrooms_null_bathrooms_text_filled = df[df["bathrooms"].isnull()][["bathrooms", "bathrooms_text"]]

len(df_bathrooms_null_bathrooms_text_filled)

In [ ]:
df_bathrooms_null_bathrooms_text_filled.index.values

In [ ]:
# Check
for i in df_bathrooms_null_bathrooms_text_filled.index.values:
    if i not in df_bathrooms_null_bathrooms_text.index.values:
        print("Error: ", i)

In [ ]:
# Check
# df[["bathrooms", "bathrooms_text"]].loc[idx[0:15]]

# bathrooms	bathrooms_text
# 4	1.0	1 shared bath
# 6	1.0	1 shared bath
# 9	1.0	1 bath
# 10	1.0	1 bath
# 12	1.5	1.5 baths
# 13	1.0	1 bath
# 15	1.0	1 bath
# 18	2.0	2 baths
# 22	2.5	2.5 baths
# 24	1.0	1 shared bath
# 25	2.0	2 baths
# 34	1.0	1 bath
# 35	1.0	1 bath
# 38	1.0	1 bath
# 39	1.0	1 bath

In [ ]:
# Drop "bathrooms_text"
df = df.drop("bathrooms_text", axis=1)

In [ ]:
# Investigate: drop Yes
df["neighbourhood"].unique()

# array(['Neighborhood highlights', nan], dtype=object)

In [ ]:
# Drop "neighbourhood"
df = df.drop("neighbourhood", axis=1)

In [ ]:
# Investigate: drop No
len(df["host_neighbourhood"].unique())

# array(['Gravesend', 'Midtown', 'Greenwood Heights', 'Williamsburg',
#        'East Harlem', 'Fort Greene', 'Ridgewood', 'Alphabet City',
#        'Greenwich Village', 'Harlem', ...], dtype=object)

In [ ]:
# Investigate: drop No
# df["host_location"].unique()

# array(['New York, NY', 'Woodstock, NY', ...])

In [ ]:
# bathrooms aus Text -> Zahl

def parse_bath(text: str):
    if not isinstance(text, str):
        return None
    total = 0.0
    found = False
    for m in pattern.finditer(text):
        s = m.group(0).lower()
        if "half" in s:         
            total += 0.5
            found = True
        else:
            num = re.search(r'\d+(?:\.\d+)?|\d+\s*/\s*\d+|½', s).group(0)
            if '/' in num:
                a, b = num.split('/')
                total += float(a) / float(b)
            elif num == '½':
                total += 0.5
            else:
                total += float(num)
            found = True
    return total if found else None

df["bathrooms_from_text"] = df["bathrooms_text"].apply(parse_bath)

# bedrooms mit Mittelwert füllen

In [ ]:
df["bathrooms_from_text"].unique()

In [ ]:
df["bathrooms"].unique()

In [ ]:
# Investigate: 
df[df["host_location"].notnull()][["host_location", "latitude", "longitude"]].head(10)

In [ ]:
# df["host_location"].unique()
# array(['New York, NY', 'Woodstock, NY', 'Las Vegas, NV',
       # 'New York, United States', 'Great Neck, NY', dtype=object...])

In [ ]:
# Investigate df["host_location"]
# Convert type df["host_location"] to string
df["host_location"] = df["host_location"].astype("string") 

df[df["host_location"] == "Calgary, Canada"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 34152	Calgary, Canada	40.678622	-73.946671
# BUT IT"S NY !!!!

df[df["host_location"] == "Vila Velha, Brazil"][["host_location", "latitude", "longitude"]]
#         host_location	latitude	longitude
# 35999	Vila Velha, Brazil	40.730115	-73.982319
# BUT IT"S NY !!!!
# DROP df["host_location"] - a lot of

In [ ]:
# Drop "host_location"
df = df.drop("host_location", axis=1)

In [ ]:
missing = missing_values(df)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

In [ ]:
# Bevor dropping fill missing cells !!!!!

In [ ]:
# Bevor dropping fill missing cells !!!!!

In [ ]:
# Fehlende Werte: Spalten mit hoher als 20% Fehlrate droppen.

cols = df.columns[df.isna().mean() > 0.20]
df1 = df.drop(columns=cols, axis=1)
df1.info()

In [ ]:
missing = missing_values(df1)
cols_to_drop = missing[missing["Total_perc"] > 0].Total_perc
cols_to_drop

In [ ]:
df1.info()

In [ ]:
df1.host_since.head(10)